<?xml version="1.0"?>
<config>
    <modules>
        <Ktpl_Guestabandoned>
            <version>1.0.1</version>
        </Ktpl_Guestabandoned>
    </modules>   
    <frontend>
        <routers>
            <guestabandoned>
                <use>standard</use>
                <args>
                    <module>Ktpl_Guestabandoned</module>
                    <frontName>guestabandoned</frontName>
                </args>
            </guestabandoned>
        </routers>
    </frontend>	
    <global>
        <blocks>
            <guestabandoned>
                <class>Ktpl_Guestabandoned_Block</class>
            </guestabandoned>
        </blocks>
        <helpers>
            <guestabandoned>
                <class>Ktpl_Guestabandoned_Helper</class>
            </guestabandoned>
        </helpers>
        <models>
            <guestabandoned>
                <class>Ktpl_Guestabandoned_Model</class>
                <resourceModel>guestabandoned_mysql4</resourceModel>
            </guestabandoned>
            <guestabandoned_mysql4>
                <class>Ktpl_Guestabandoned_Model_Mysql4</class>                
            </guestabandoned_mysql4>
        </models>
         <resources>
            <guestabandoned_setup>
                <setup>
                    <module>Ktpl_Guestabandoned</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </guestabandoned_setup>
            <guestabandoned_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </guestabandoned_write>
            <guestabandoned_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </guestabandoned_read>
        </resources>
    </global>
    <crontab>
        <jobs>
            <ktpl_guestabandoned>
                <schedule>
                    <config_path>customer/guestabandoned/crontab</config_path>
                </schedule>
                <run><model>guestabandoned/observer::refreshData</model></run>
            </ktpl_guestabandoned>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <guestabandoned>
                <use>admin</use>
                <args>
                    <module>Ktpl_Guestabandoned</module>
                    <frontName>guestabandoned</frontName>
                </args>
            </guestabandoned>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <guestabandoned>
                    <file>guestabandoned.xml</file>
                </guestabandoned>
            </updates>
        </layout>
        <menu>
            <customer>
                <children>
                    <guestabandoned translate="title" module="guestabandoned">
                        <title>Guest Abandoned Cart</title>
                        <action>guestabandoned/adminhtml_guestabandoned</action>
                        <sort_order>21</sort_order>
                        <depends>
                            <config>customer/guestabandoned/enabled</config>
                        </depends>
                    </guestabandoned>
                </children>
            </customer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <guestabandoned>
                                            <title>Guest Abandoned</title>
                                        </guestabandoned>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <customer>
                            <children>
                                <guestabandoned translate="title" module="guestabandoned">
                                    <title>Guest Abandoned Cart</title>
                                    <action>guestabandoned/adminhtml_guestabandoned</action>
                                    <sort_order>121</sort_order>
                                </guestabandoned>
                            </children>
                        </customer>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <customer>
            <guestabandoned>
                <enabled>1</enabled>
            </guestabandoned>
        </customer>
    </default>
</config>