<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gearup_Customer>
            <version>1.1.9</version>
        </Gearup_Customer>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>Gearup_Customer_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <gearup_customer>
                <class>Gearup_Customer_Helper</class>
            </gearup_customer>
        </helpers>
        <events>
            <customer_address_save_before>
                <observers>
                    <gearup_customer_customer_address_save_before>
                        <class>Gearup_Customer_Model_Observer</class>
                        <method>updateCustomerAddressName</method>
                    </gearup_customer_customer_address_save_before>
                </observers>
            </customer_address_save_before>
			<customer_save_before>
                <observers>
                    <gearup_customer_customer_save_before>
                        <class>Gearup_Customer_Model_Observer</class>
                        <method>updateCustomerName</method>
                    </gearup_customer_customer_save_before>
                </observers>
            </customer_save_before>
        </events>
        <models>
            <customer>
                 <rewrite>
                     <customer>Gearup_Customer_Model_Customer</customer>
                 </rewrite>
            </customer>           
        </models>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <gearup_customer before="Mage_Checkout">Gearup_Customer</gearup_customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>    
</config>