<div class="payment-option _collapsible opc-payment-additional store-credit"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Store Credit'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko ifnot: isCustomerLoggedIn() -->
        <div class="payment-option-inner">
            <div class="field"><!-- ko i18n: 'Please login for Apply Credit'--><!-- /ko --></div>
        </div>
        <!--/ko-->
        <!-- ko if: isCustomerLoggedIn() -->
        <form class="form form-store-credit" id="store-credit-form" data-bind="blockLoader: isLoading">
            <div class="actions-toolbar">
                <label class="label" for="">
                    <!-- ko ifnot: isApplied() -->
                        <span data-bind="text: getAvailableStoreCreditText()"></span>
                    <!-- /ko -->
                    <!-- ko if: isApplied() -->
                        <span data-bind="text: getUsedStoreCreditText()"></span>
                    <!-- /ko -->    
                </label>
                <div class="primary">
                    <!-- ko ifnot: isApplied() -->
                        <button class="action action-apply" type="submit" data-bind="'value': $t('Apply Credit'), click: apply">
                            <span><!-- ko i18n: 'Apply Credit'--><!-- /ko --></span>
                        </button>
                    <!-- /ko -->
                    <!-- ko if: isApplied() -->
                        <button class="action action-cancel" type="submit" data-bind="'value': $t('Remove Credit'), click: remove">
                            <span><!-- ko i18n: 'Remove Credit'--><!-- /ko --></span>
                        </button>
                    <!-- /ko -->
                </div>
            </div>
        </form>
        <!--/ko-->
    </div>
</div>