<?xml version="1.0"?>
<config>
  <modules>
    <EM_Addphone2>
      <version>0.1.0</version>
    </EM_Addphone2>
  </modules>
  <global>
    <helpers>
      <addphone2>
        <class>EM_Addphone2_Helper</class>
      </addphone2>
    </helpers>
	<blocks>
	  <addphone2>
		<class>EM_Addphone2_Block</class>
	  </addphone2>
			<adminhtml>
				<rewrite>
					<customer_grid>EM_Addphone2_Block_Adminhtml_Customer_Grid</customer_grid>
				</rewrite>
			</adminhtml>
			<adminhtml>
				<rewrite>
					<customer_edit_tab_account>EM_Addphone2_Block_Adminhtml_Customer_Edit_Tab_Account</customer_edit_tab_account>
				</rewrite>
			</adminhtml>
	</blocks>
	<models>
	  <addphone2>
		<class>EM_Addphone2_Model</class>
		<resourceModel>addphone2_mysql4</resourceModel>
	  </addphone2>
	</models>
	<resources>
	  <customerattribute1432792309_setup>
		<setup>
		  <module>EM_Addphone2</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1432792309_setup>
	  <customerattribute1432792309_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1432792309_write>
	  <customerattribute1432792309_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1432792309_read>
	</resources>
  </global>
</config> 