<?xml version="1.0"?>
<config>
    <modules>
        <Ktpl_Wholesaler>
            <version>1.0.0</version>
        </Ktpl_Wholesaler>
    </modules>
    
    <global>
        <blocks>
            <wholesaler>
                <class>Ktpl_Wholesaler_Block</class>
            </wholesaler>  
            <sales>
                <rewrite>
                    <order_totals>Ktpl_Wholesaler_Block_Sales_Totals</order_totals>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_totals>Ktpl_Wholesaler_Block_Adminhtml_Sales_Totals</sales_totals>
                    <sales_order_totals>Ktpl_Wholesaler_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Ktpl_Wholesaler_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Ktpl_Wholesaler_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml> 
        </blocks>
        <helpers>
            <wholesaler>
                <class>Ktpl_Wholesaler_Helper</class>
            </wholesaler>
        </helpers>
        <models>
            <wholesaler>
                <class>Ktpl_Wholesaler_Model</class>
            </wholesaler>
        </models>
        
        <resources>
            <wholesaler_setup>
                <setup>
                    <module>Ktpl_Wholesaler</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wholesaler_setup>
            <wholesaler_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wholesaler_read>
            <wholesaler_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wholesaler_write>
        </resources>
        
        <sales>
            <quote>
                <totals>
                    <wholesaler>
                        <class>wholesaler/total_quote_discount</class>
                        <after>tax</after>
                        <!-- <before>grand_total</before>-->
                    </wholesaler>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <wholesaler>
                        <class>wholesaler/total_invoice_discount</class>
                        <after>tax</after>
                        <!-- <before>grand_total</before>-->
                    </wholesaler>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <wholesaler>
                        <class>wholesaler/total_creditmemo_discount</class>
                        <after>tax</after>
                        <!-- <before>grand_total</before>-->
                    </wholesaler>
                </totals>
            </order_creditmemo>
        </sales>
        
        <fieldsets>
            <sales_convert_quote_address>
                <base_tier_discount><to_order>*</to_order></base_tier_discount>
                <tier_discount><to_order>*</to_order></tier_discount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <tier_discount translate="title">
                    <title>Tier Discount</title>
                    <source_field>tier_discount</source_field>
                    <amount_prefix></amount_prefix>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>201</sort_order>
                </tier_discount>
            </totals>    
        </pdf>
    </global>
           
    <frontend>
        <routers>
            <wholesaler>
                <use>standard</use>
                <args>
                    <module>Ktpl_Wholesaler</module>
                    <frontName>wholesaler</frontName>
                </args>
            </wholesaler>
            <checkout>
                <args>
                    <modules>
                        <Ktpl_Wholesaler before="Mage_Checkout">Ktpl_Wholesaler</Ktpl_Wholesaler>
                    </modules>
                </args>
            </checkout>
        </routers>
        
        <layout>
            <updates>
                <wholesaler>
                    <file>wholesaler.xml</file>
                </wholesaler>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ktpl_Wholesaler>
                    <files>
                        <default>Ktpl_Wholesaler.csv</default>
                    </files>
                </Ktpl_Wholesaler>
            </modules>
        </translate>
        
        <events>
             <controller_action_predispatch>
                <observers>
                    <wholesaler_check>
                        <class>Ktpl_Wholesaler_Model_Observer</class>
                        <method>checkstore</method>
                    </wholesaler_check>
                </observers>
            </controller_action_predispatch>
            <customer_login>
	        <observers>
                    <wholesaler_login>
                        <class>Ktpl_Wholesaler_Model_Observer</class>
	                <method>customerLogin</method>
	            </wholesaler_login>
		</observers>
            </customer_login>
            <customer_save_before>
                <observers>
                    <membership_save_observer>
                        <type>singleton</type>
                        <class>Ktpl_Wholesaler_Model_Observer</class>
                        <method>assigngroup</method>
                    </membership_save_observer>
                </observers>
            </customer_save_before>
            <controller_action_predispatch_customer_account_login>
                <observers>
                    <ktpl_wholesaler_controller_action_predispatch_customer_account_login>
                        <class>Ktpl_Wholesaler_Model_Observer</class>
                        <method>customerLogins</method>
                    </ktpl_wholesaler_controller_action_predispatch_customer_account_login>
                </observers>
            </controller_action_predispatch_customer_account_login>
        </events>
    </frontend>
    
</config> 