<?xml version="1.0"?>
<config>
  <modules>
    <Gearup_Preorder>
      <version>0.1.0</version>
    </Gearup_Preorder>
  </modules>
  <global>
    <helpers>
      <preorder>
        <class>Gearup_Preorder_Helper</class>
      </preorder>
    </helpers>
	<models>
	  <preorder>
		<class>Gearup_Preorder_Model</class>
		<resourceModel>preorder_mysql4</resourceModel>
	  </preorder>
	</models>
	<resources>
	  <catalogattribute_setup>
		<setup>
		  <module>Gearup_Preorder</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </catalogattribute_setup>
	  <catalogattribute_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </catalogattribute_write>
	  <catalogattribute_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </catalogattribute_read>
	</resources>
  </global>
</config> 