<?xml version="1.0"?>
<config>
    <modules>
        <Gearup_CartMerge>
            <version>0.1.0</version>
        </Gearup_CartMerge>
    </modules>
    <global>
        <models>
            <gearup_cartmerge>
                <class>Gearup_CartMerge_Model</class>
                <resourceModel>gearup_cartmerge_resource</resourceModel>
            </gearup_cartmerge>
            <gearup_cartmerge_resource>
                <class>Gearup_CartMerge_Model_Resource</class>
            </gearup_cartmerge_resource>
        </models>
        <blocks>
            <gearup_cartmerge>
                <class>Gearup_CartMerge_Block</class>
            </gearup_cartmerge>
        </blocks>
        <helpers>
            <gearup_cartmerge>
                <class>Gearup_CartMerge_Helper</class>
            </gearup_cartmerge>
        </helpers>
    </global>
    <frontend>
        <routers>
            <cartmerge>
                <use>standard</use>
                <args>
                    <module>Gearup_CartMerge</module>
                    <frontName>cartmerge</frontName>
                </args>
            </cartmerge>
        </routers>
    </frontend>
</config>