<?xml version="1.0"?>
<config>
    <modules>
        <Ktpl_Customorderstatus>
            <version>0.1.2</version>
        </Ktpl_Customorderstatus>
    </modules>
    <global>
        <blocks>
            <customorderstatus>
                <class>Ktpl_Customorderstatus_Block</class>
            </customorderstatus>   
        </blocks>
        <helpers>
            <customorderstatus>
                <class>Ktpl_Customorderstatus_Helper</class>
            </customorderstatus>
        </helpers>
        <models>
            <customorderstatus>
                <class>Ktpl_Customorderstatus_Model</class>
            </customorderstatus>
            <sales>
                <rewrite>
                    <order>Ktpl_Customorderstatus_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <events>
            <!--<sales_order_place_after>
                <observers>
                    <sales_order_place_after1>
                        <type>singleton</type>
                        <class>Ktpl_Customorderstatus_Model_Observer</class>
                        <method>updateOrderStatus</method>
                    </sales_order_place_after1>
                </observers>
            </sales_order_place_after>-->
            <sales_model_service_quote_submit_success>
                <observers>
                    <save_order_status>
                        <type>singleton</type>
                        <class>Ktpl_Customorderstatus_Model_Observer</class>
                        <method>updateOrderStatus</method>
                    </save_order_status>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </global>
    <frontend>
        <routers>
            <customorderstatus>
                <use>standard</use>
                <args>
                    <module>Ktpl_Customorderstatus</module>
                    <frontName>customorderstatus</frontName>
                </args>
            </customorderstatus>
        </routers>
    </frontend>
    <default>
        <customorderstatus>
        	<general>
        		<active>0</active>
        	</general>
        </customorderstatus>
    </default>
</config> 