<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cminds_salesrep" translate="label" sortOrder="1100">
            <label>Cminds Sales Rep</label>
        </tab>
        <section id="cminds_salesrep_configuration" translate="label" type="text"
                 sortOrder="70" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>cminds_salesrep</tab>
            <resource>Cminds_Salesrep::configuration</resource>
            <group id="module_status" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Module status</label>
                <field id="enabled" translate="label comment"
                       sortOrder="1" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Module is active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="commissions" translate="label" type="text" sortOrder="2"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Commissions</label>
                <field id="default_status" translate="label comment"
                       sortOrder="1" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Default Status for New Orders</label>
                    <source_model>Cminds\Salesrep\Model\Source\DefaultStatusList</source_model>
                </field>
                <field id="default_sales_rep" translate="label comment"
                       sortOrder="2" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Default Sales Rep Commission %</label>
                </field>
                <field id="default_manager" translate="label comment"
                       sortOrder="3" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Default Manager Commission %</label>
                </field>
                <field id="manager_commission_based_on" translate="label comment"
                       sortOrder="4" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Manager Commission based on</label>
                    <source_model>Cminds\Salesrep\Model\Source\CommissionBasedList</source_model>
                </field>
            </group>
            <group id="checkout" translate="label" type="text" sortOrder="3"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Checkout</label>
                <field id="representative_selector_frontend" translate="label comment"
                       sortOrder="1" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Display representative selector at front-end checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="representative_selector_backend" translate="label comment"
                       sortOrder="2" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Display representative selector at back-end (admin) checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="header" translate="label comment"
                       sortOrder="3" type="text" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Header</label>
                </field>
                <field id="label" translate="label comment"
                       sortOrder="4" type="textarea" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Label</label>
                </field>
                <field id="error_message" translate="label comment"
                       sortOrder="5" type="textarea" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Error Message</label>
                </field>
                <field id="sales_rep_list" translate="label comment"
                       sortOrder="6" type="multiselect" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Sales Representatives</label>
                    <source_model>Cminds\Salesrep\Model\Source\UsersConfigList</source_model>
                    <comment>Use Ctrl to select multiple Users.</comment>
                </field>
            </group>
            <group id="report_defaults" translate="label" type="text" sortOrder="4"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Report Defaults</label>
                <comment>The values specified here will be the default configuration of the reports when opened. This is to save you time and avoid unnecessary clicks every time you run the report. You can of course change the report values and re-run the report if you have a specific need.</comment>
                <field id="order_statuses" translate="label comment"
                       sortOrder="1" type="multiselect" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Order Statuses</label>
                    <source_model>Cminds\Salesrep\Model\Source\OrderStatusesList</source_model>
                </field>
                <field id="sales_rep" translate="label comment"
                       sortOrder="2" type="multiselect" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Sales Rep.</label>
                    <source_model>Cminds\Salesrep\Model\Source\UsersList</source_model>
                </field>
            </group>
            <group id="email_reports" translate="label" type="text" sortOrder="5"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Reports</label>
                <field id="send_reports" translate="label comment"
                       sortOrder="1" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Send Report</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="template" translate="label comment"
                       sortOrder="2" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="send_reports_to" translate="label comment"
                       sortOrder="3" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Send Reports To</label>
                    <source_model>Cminds\Salesrep\Model\Source\SendReportsTo</source_model>
                </field>
                <field id="schedule_hour" translate="label comment"
                       sortOrder="4" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Hour</label>
                    <source_model>Cminds\Salesrep\Model\Source\HoursList</source_model>
                </field>
                <field id="schedule_minute" translate="label comment"
                       sortOrder="5" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Minutes</label>
                    <source_model>Cminds\Salesrep\Model\Source\MinutesList</source_model>
                </field>
                <field id="schedule_frequency" translate="label comment"
                       sortOrder="6" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Frequency</label>
                    <source_model>Cminds\Salesrep\Model\Source\Frequency</source_model>
                    <comment>If there is no information available for the requested period or requested employee, no report will be sent.</comment>
                </field>
            </group>
        </section>
    </system>
</config>