<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
        <HN_Salesforce>
            <version>1.2.2</version>
        </HN_Salesforce>
    </modules>
        <frontend>
        <routers>
            <salesforce>
                <use>standard</use>
                <args>
                    <module>HN_Salesforce</module>
                    <frontName>salesforce</frontName>
                </args>
            </salesforce>           
        </routers>       
        <translate>
            <modules>
                <HN_Salesforce>
                    <files>
                        <default>HN_Salesforce.csv</default>
                    </files>
                </HN_Salesforce>
            </modules>
        </translate>
    </frontend>    
	<global>        
		<helpers>
             <salesforce>
                <class>HN_Salesforce_Helper</class>
             </salesforce>
        </helpers>
        <blocks>
			<salesforce>
				<class>HN_Salesforce_Block</class>
			</salesforce>
		</blocks>
		<models>
            <salesforce>
                <class>HN_Salesforce_Model</class>
                <resourceModel>salesforce_resource</resourceModel>
            </salesforce>
            <salesforce_resource>                
                <class>HN_Salesforce_Model_Resource</class>
                <deprecatedNode>salesforce_mysql4</deprecatedNode>
                <entities>
                    <map>
                        <table>magenest_salesforce_mapping</table>
                    </map>
                    <field>
                        <table>magenest_salesforce_field</table>
                    </field>
                    <report>
                        <table>magenest_salesforce_report</table>
                    </report>
                </entities>
            </salesforce_resource>
        </models>    
        <resources>
            <salesforce_setup>
                <setup>
                    <module>HN_Salesforce</module>
                </setup>
            </salesforce_setup>
        </resources>        
        <events>
         	<customer_register_success>
                <observers>
                    <salesforce>
                        <type>singleton</type>
                        <class>HN_Salesforce_Model_Observer</class>
                        <method>syncLead</method>
                    </salesforce>
                </observers>
        	</customer_register_success> 
            <customer_delete_commit_after>
                <observers>
                    <salesforce>
                        <type>singleton</type>
                        <class>HN_Salesforce_Model_Observer</class>
                        <method>deleteCustomer</method>
                    </salesforce>
                </observers>
            </customer_delete_commit_after>
            <catalog_product_delete_commit_after>
                <observers>
                    <salesforce>
                        <type>singleton</type>
                        <class>HN_Salesforce_Model_Observer</class>
                        <method>syncLead</method>
                    </salesforce>
                </observers>
            </catalog_product_delete_commit_after>
        	<customer_address_save_after>
        	    <observers>
                    <salesforce>
                        <type>singleton</type>
                        <class>HN_Salesforce_Model_Observer</class>
                        <method>updateCustomer</method>
                    </salesforce>
                </observers>
        	</customer_address_save_after>        	
        	<catalog_product_save_after>
                <observers>
                    <salesforce>
                        <class>HN_Salesforce_Model_Observer</class>
                        <method>syncProduct</method>
                    </salesforce>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_commit_after>
                <observers>
                    <salesforce>
                        <type>singleton</type>
                        <class>HN_Salesforce_Model_Observer</class>
                        <method>deleteProduct</method>
                    </salesforce>
                </observers>
            </catalog_product_delete_commit_after>
            <sales_order_place_after>
                <observers>
                    <salesforce>
                        <class>HN_Salesforce_Model_Observer</class>
                        <method>syncOrder</method>
                    </salesforce>
                </observers>
            </sales_order_place_after>                
			<newsletter_subscriber_save_commit_after>
				<observers>
					<salesforce>
						<class>HN_Salesforce_Model_Observer</class>
						<method>syncSubscriber</method>
					</salesforce>
				</observers>
			</newsletter_subscriber_save_commit_after>			 
			<catalogrule_rule_save_after>
				<observers>
					<salesforce>
						<class>HN_Salesforce_Model_Observer</class>
						<method>syncCampaign</method>
					</salesforce>
				</observers>
			</catalogrule_rule_save_after>
            <sales_order_invoice_save_after>
             <observers>
                    <salesforce>
                        <type>singleton</type>
                        <class>HN_Salesforce_Model_Observer</class>
                        <method>syncCustomInvoice</method>
                    </salesforce>
                </observers>
            </sales_order_invoice_save_after>
            <!--<checkout_cart_add_product_complete>
                <observers>
                    <salesforce>
                        <class>HN_Salesforce_Model_Observer</class>
                        <method>syncAbandonCart</method>
                    </salesforce>
                </observers>
            </checkout_cart_add_product_complete>
            -->
        </events>		
	</global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hn_salesforce after="Mage_Adminhtml">HN_Salesforce_Adminhtml</hn_salesforce>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <salesforce>
                    <file>hn_salesforce.xml</file>
                </salesforce>
            </updates>
        </layout>
    </adminhtml>	
	<default>
        <design>
            <header>
                <welcome>Default welcome msg!</welcome>
            </header>
        </design>
    </default>
</config>
