<?xml version="1.0"?>
<config>
  <modules>
    <EM_Changemodeview>
      <version>0.1.0</version>
    </EM_Changemodeview>
  </modules>
	<frontend>
        <routers>
            <quickshop>
                <use>standard</use>
                <args>
                    <module>EM_Changemodeview</module>
                    <frontName>changemodeview</frontName>
                </args>
            </quickshop>
        </routers>
    </frontend>  
  <global>
    <helpers>
      <changemodeview>
        <class>EM_Changemodeview_Helper</class>
      </changemodeview>
    </helpers>
	<models>
		<changemodeview>
			<class>EM_Changemodeview_Model</class>
			<resourceModel>changemodeview_mysql4</resourceModel>
		</changemodeview>
	</models>
	<blocks>
	  <changemodeview>
		<class>EM_Changemodeview_Block</class>
	  </changemodeview>
			<catalog>
				<rewrite>
					<product_list_toolbar>EM_Changemodeview_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
				</rewrite>
			</catalog>
	</blocks>
  </global>
</config> 