<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="Ktpl_Twiliosms_Order_Sms" instance="Ktpl\Twiliosms\Observer\Ordersms" />
    </event>
    <event name="sales_order_save_after">
        <observer name="Ktpl_Twiliosms_Order_Complete_Sms" instance="Ktpl\Twiliosms\Observer\Ordercompletesms" />
    </event>
</config>