<?xml version="1.0"?>
<config>
  <modules>
    <EM_Bestdearproduct>
      <version>0.1.0</version>
    </EM_Bestdearproduct>
  </modules>
  <global>
    <helpers>
      <bestdearproduct>
        <class>EM_Bestdearproduct_Helper</class>
      </bestdearproduct>
    </helpers>
	<models>
	  <bestdearproduct>
		<class>EM_Bestdearproduct_Model</class>
		<resourceModel>bestdearproduct_mysql4</resourceModel>
	  </bestdearproduct>
			<catalog>
				<rewrite>
					<category>EM_Bestdearproduct_Model_Catalog_Category</category>
				</rewrite>
			</catalog>
	</models>
  </global>
</config> 