<?xml version="1.0"?>
<!-- /**
 * @category   Webkul
 * @package    Magento-Salesforce-Connector
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */  -->
<config>
    <tabs>
        <webkul translate="label" module="eshopsync">
            <label>&lt;a href="http://www.webkul.com" style="background:none;" target="_blank"&gt;Salesforce&lt;img height="10" style="margin-left: 10px;" src='http://webkul.com/blog/wp-content/uploads/2013/09/wklogo.png'/&gt;&lt;/a&gt;</label>
            <sort_order>101</sort_order>
        </webkul>
    </tabs>
    <sections>
        <eshopsync translate="label" module="eshopsync">
            <label>Salesforce Connector</label>
            <tab>webkul</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <setting translate="label">
                    <label>Api Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<user translate="label comment">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
			 			    <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>(e.g : eshopsync@webkul.com)</comment>
                        </user>
						<pwd translate="label comment">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
			 			    <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>(e.g : eshopsync)</comment>
                        </pwd>
						<token translate="label comment">
                            <label>Security Token</label>
                            <frontend_type>text</frontend_type>
			 			    <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>(eg. JDO7Fdsgcvaw1mNfmzYSmfWg)</comment>
                            <tooltip>specify your salesforce api token.</tooltip>
                        </token>
                        <client translate="label comment">
                            <label>Client</label>
                            <frontend_type>select</frontend_type>
			 			    <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>specify any client type.</comment>
                            <source_model>eshopsync/system_config_client</source_model>
                            <tooltip>specify your saleforce client, according to client it'll use WSDL.</tooltip>
                        </client>
						<status translate="label comment">
                            <label>Connection Status</label>
                            <frontend_type>text</frontend_type>
			 			    <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </status>
						<run translate="label">
							<label></label>
							<frontend_type>button</frontend_type>
							<frontend_model>eshopsync/connection</frontend_model>
							<comment>Test after saving above api details.</comment>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</run>
                    </fields>
				</setting>
				<default translate="label">
                    <label>Default Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<pricebook translate="label comment">
		                    <label>Pricebook</label>
		                    <frontend_type>select</frontend_type>
			 			    <sort_order>1</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>0</show_in_website>
		                    <show_in_store>0</show_in_store>
                            <source_model>eshopsync/system_config_pricebook</source_model>
		                    <comment>Select Pricebook</comment>
		                </pricebook>
						<folder translate="label comment">
		                    <label>Folder</label>
		                    <frontend_type>select</frontend_type>
			 			    <sort_order>2</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>0</show_in_website>
		                    <show_in_store>0</show_in_store>
                            <source_model>eshopsync/system_config_folder</source_model>
		                    <comment>Select Folder</comment>
		                </folder>
                    </fields>
                </default>
                <auto translate="label">
                    <label>Automatic Synchronization</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <order translate="label comment">
                            <label>Order Synchronization</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>if yes, then order will sync automatically after save..</comment>
                        </order>
                        <contactus translate="label comment">
                            <label>Contact us to Lead Synchronization</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>if yes, then every contact us request will be synced as a salesforce lead.</comment>
                        </contactus>
                    	<category translate="label comment">
		                    <label>Category Synchronization</label>
		                    <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
			 			    <sort_order>3</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>0</show_in_website>
		                    <show_in_store>0</show_in_store>
		                    <comment>if yes, then category will sync automatically.</comment>
		                </category>
		                <product translate="label comment">
		                    <label>Product Synchronization</label>
		                    <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
			 			    <sort_order>4</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>0</show_in_website>
		                    <show_in_store>0</show_in_store>
		                    <comment>if yes, then product will sync automatically.</comment>
		                </product>
                        <customer translate="label comment">
                            <label>Customer Synchronization</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>if yes, then Customer will sync automatically as an account.</comment>
                        </customer>
                    </fields>
                </auto>
                <backup>
                    <label>Reset Mapping Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <run translate="label">
                            <label>Reset Salesforce Mapping</label>
                            <frontend_type>button</frontend_type>
                            <comment>Use It when you want to Change Salesforce Connection with new API. &lt;strong style="color:red"&gt;Warning!!! It'll Reset All Base Salesforce Mapping Data from Magento.&lt;/strong&gt;</comment>
                            <frontend_model>eshopsync/maintainance</frontend_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </run>
                    </fields>
                </backup>
                <upload translate="label">
                    <label>Upload WSDL File</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <upload_wsdl translate="label tooltip comment">
                            <label>Upload WSDL File</label>
                            <comment>Select WSDL File</comment>
                            <tooltip>Upload WSDL File Only</tooltip>
                            <frontend_type>file</frontend_type>
                            <backend_model>eshopsync/system_config_upload</backend_model>
                            <upload_dir config="system/filesystem/lib" scope_info="0">Eshopsync/soapclient/</upload_dir>
                            <base_url type="lib" scope_info="1">Eshopsync/soapclient</base_url>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </upload_wsdl>
                    </fields>
                </upload>

                <guest>
                  <label>Sync Guest Orders</label>
                  <sort_order>6</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <fields>
                    <enable translate="label comment">
        							<label>Enable</label>
        							<frontend_type>select</frontend_type>
        							<source_model>adminhtml/system_config_source_yesno</source_model>
        							<sort_order>1</sort_order>
        							<show_in_default>1</show_in_default>
        							<show_in_website>0</show_in_website>
        							<show_in_store>0</show_in_store>
        						</enable>
        						<account_id translate="label comment">
        							<label>Account ID</label>
        							<frontend_type>text</frontend_type>
        							<sort_order>2</sort_order>
        							<show_in_default>1</show_in_default>
        							<show_in_website>0</show_in_website>
        							<show_in_store>0</show_in_store>
        							<depends>
        								<enable>1</enable>
        							</depends>
        							<comment>Enter Account ID</comment>
        						</account_id>
                  </fields>
                </guest>
			</groups>
		</eshopsync>
    </sections>
</config>
