<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 *
 * @package     Paysafe
 * @copyright   Copyright (c) 2017 Paysafe
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <paysafe_general>
                <title>General Setting</title>
                <version>2.0.06</version>
                <account_id></account_id>
                <api_user></api_user>
                <api_passsword></api_passsword>
                <singleuse_user></singleuse_user>
                <singleuse_password></singleuse_password>
                <!-- <recurring>1</recurring> -->
                <merchant_name></merchant_name>
                <merchant_email></merchant_email>
                <shop_url></shop_url>
            </paysafe_general>
        </general>
        <payment>
            <paysafe_creditcard>
                <title>Paysafe Credit Card</title>
                <active>1</active>
                <model>Paysafe\Paysafe\Model\Method\Creditcard</model>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <title>Cards</title>
                <capture_method>PAYSAFEJS</capture_method>
				<environment>TEST</environment>
                <threedsecure>1</threedsecure>
                <card_selection>Visa,MasterCard,Maestro,AmericanExpress,Diners,JCB</card_selection>
                <settlement>1</settlement>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </paysafe_creditcard>
        </payment>
    </default>
</config>
