<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 *
 * @package     Paysafe
 * @copyright   Copyright (c) 2017 Paysafe
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Paysafe\Paysafe\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Paysafe\Paysafe\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">PaysafeLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Paysafe\Paysafe\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
     <preference for="Magento\Sales\Model\Order\Email\Sender\OrderSender" type="Paysafe\Paysafe\Model\Order\Email\Sender\OrderSender" />
</config>
