<?xml version="1.0"?>
<config>
    <modules>
        <Itdelight_CustomerAddressConfig>
            <version>0.1.0</version>
        </Itdelight_CustomerAddressConfig>
    </modules>
    <global>
        <resources>
            <itdelight_customeraddressconfig_setup>
                <setup>
                    <module>Itdelight_CustomerAddressConfig</module>
                </setup>
            </itdelight_customeraddressconfig_setup>
        </resources>
    </global>
</config>