<?xml version="1.0"?>
<config>
	<modules>
		<Redstage_SaveForLater>
			<version>1.0.0</version>
		</Redstage_SaveForLater>
	</modules>
	<global>
		<blocks>
			<saveforlater>
				<class>Redstage_SaveForLater_Block</class>
			</saveforlater>
		</blocks>
		<helpers>
			<saveforlater>
				<class>Redstage_SaveForLater_Helper</class>
			</saveforlater>
		</helpers>
		<models>
			<saveforlater>
				<class>Redstage_SaveForLater_Model</class>
				<resourceModel>saveforlater_mysql4</resourceModel>
			</saveforlater>
			<saveforlater_mysql4>
				<class>Redstage_SaveForLater_Model_Mysql4</class>
				<entities>
					<item>
						<table>saveforlater_item</table>
					</item>
				</entities>
			</saveforlater_mysql4>
		</models>
		<resources>
			<saveforlater_setup>
				<setup>
					<module>Redstage_SaveForLater</module>
					<class>Redstage_SaveForLater_Model_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</saveforlater_setup>
			<saveforlater_write>
				<connection>
					<use>core_write</use>
				</connection>
			</saveforlater_write>
			<saveforlater_read>
				<connection>
					<use>core_read</use>
				</connection>
			</saveforlater_read>
		</resources>
		<!--<events>
			<adminhtml_catalog_product_edit_prepare_form>
				<observers>
					<saveforlater_render_rates_edit>
						<class>saveforlater/observer</class>
						<method>setRendererInForm</method>
					</saveforlater_render_rates_edit>
				</observers>
			</adminhtml_catalog_product_edit_prepare_form>
		</events>-->
	</global>
	<frontend>
		<layout>
			<updates>
				<saveforlater>
					<file>redstage_saveforlater.xml</file>
				</saveforlater>
			</updates>
		</layout>
		<routers>
			<saveforlater>
				<use>standard</use>
				<args>
					<module>Redstage_SaveForLater</module>
					<frontName>saveforlater</frontName>
				</args>
			</saveforlater>
		</routers>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<saveforlater translate="title" module="saveforlater">
											<title>Save For Later Settings</title>
										</saveforlater>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<!--<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<saveforlater before="Mage_Adminhtml">Redstage_SaveForLater_Adminhtml</saveforlater>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>-->
	<default>
		<shipping>
			<saveforlater>
				<active>0</active>
			</saveforlater>
		</shipping>
	</default>
</config>