<?xml version="1.0"?>
<config>
    <modules>
        <EM_AdvertiseLeft>
            <version>0.1.0</version>
        </EM_AdvertiseLeft>
    </modules>
    <frontend>
        <routers>
            <advertiseleft>
                <use>standard</use>
                <args>
                    <module>EM_AdvertiseLeft</module>
                    <frontName>advertiseleft</frontName>
                </args>
            </advertiseleft>
        </routers>
        <layout>
            <updates>
                <advertiseleft>
                    <file>advertiseleft.xml</file>
                </advertiseleft>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<advertiseleft>
				<use>admin</use>
				<args>
					<module>EM_AdvertiseLeft</module>
					<frontName>advertiseleft</frontName>
				</args>
			</advertiseleft>
        </routers>
    </admin> 
    <global>
        <models>
            <advertiseleft>
                <class>EM_AdvertiseLeft_Model</class>
                <resourceModel>advertiseleft_mysql4</resourceModel>
            </advertiseleft>
            <advertiseleft_mysql4>
                <class>EM_AdvertiseLeft_Model_Mysql4</class>
                <entities>
                    <advertiseleft>
                        <table>advertiseleft</table>
                    </advertiseleft>
                </entities>
            </advertiseleft_mysql4>
        </models>
        <resources>
            <advertiseleft_setup>
                <setup>
                    <module>EM_AdvertiseLeft</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advertiseleft_setup>
            <advertiseleft_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advertiseleft_write>
            <advertiseleft_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advertiseleft_read>
        </resources>
        <blocks>
            <advertiseleft>
                <class>EM_AdvertiseLeft_Block</class>
            </advertiseleft>
        </blocks>
        <helpers>
            <advertiseleft>
                <class>EM_AdvertiseLeft_Helper</class>
            </advertiseleft>
        </helpers>
    </global>
</config>