<?xml version="1.0"?>
<!--
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Aheadworks_StoreCredit::aw_store_credit" title="Store Credit &amp; Refund by Aheadworks">
                        <resource id="Aheadworks_StoreCredit::aw_store_credit_transaction" title="Transactions" translate="title" sortOrder="10" >
                            <resource id="Aheadworks_StoreCredit::aw_store_credit_transaction_save" title="Save Transactions" translate="title" sortOrder="10" />
                        </resource>
                        <resource id="Aheadworks_StoreCredit::aw_store_credit_customers" title="Customers" translate="title" sortOrder="20" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Aheadworks_StoreCredit::config_aw_storecredit" title="Store Credit &amp; Refund by Aheadworks" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
