<?xml version="1.0"?>
<!-- 
/**
 * @category   EM
 * @package    EM_Apiios
 * @author     Emthemes <emthemes.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <EM_Apiios>
            <version>1.0.0</version>
        </EM_Apiios>
    </modules>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <apiios>
                                            <title>EM API</title>
                                        </apiios>
                                    </children>
                                </config>
                            </children>
                        </system>
						<emthemes>
							<children>
								<mobapp>
									<children>
										<exclude_products_sku>
											<title>Exclude Products</title>
											<sort_order>50</sort_order>
										</exclude_products_sku>
									</children>
								</mobapp>
							</children>
						</emthemes>
                    </children>
                </admin>
            </resources>
        </acl>
		<menu>
			<emthemes>
				<children>
					<mobapp>
						<children>
							<exclude_products_sku module="apiios">
								<title>Exclude Products</title>
								<sort_order>50</sort_order>
								<action>adminhtml/system_config/edit/section/apiios</action>
							</exclude_products_sku>
						</children>
					</mobapp>
				</children>
			</emthemes>
		</menu>
	</adminhtml>	
    <frontend>
        <translate>
            <modules>
                <EM_Apiios>
                    <files>
                        <default>EM_Apiios.csv</default>
                    </files>
                </EM_Apiios>
            </modules>
        </translate>
        <layout>
            <updates>
                <apiios>
                    <file>em_apiios.xml</file>
                </apiios>
            </updates>
        </layout>
        <routers>
            <apiios>
                <use>standard</use>
                <args>
                    <module>EM_Apiios</module>
                    <frontName>apiios</frontName>
                </args>
            </apiios>		 
        </routers>
		<events>
			<catalog_product_collection_load_before>
				<observers>
					<apiios_collection>
						<class>EM_Apiios_Model_Observer</class>
						<method>beforeCatalogProductCollectionLoad</method> 
					</apiios_collection>
				</observers>
			</catalog_product_collection_load_before>	
		</events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <apiios before="Mage_Adminhtml">EM_Apiios_Adminhtml</apiios>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <apiios>
                <class>EM_Apiios_Model</class>
                <resourceModel>apiios_resource</resourceModel>
            </apiios>
            <apiios_resource>
                <class>EM_Apiios_Model_Resource</class>				
            </apiios_resource>
        </models>
        <resources>
            <apiios_setup>
                <setup>
                    <module>EM_Apiios</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </apiios_setup>
            <apiios_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </apiios_write>
            <apiios_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </apiios_read>
        </resources>
        <blocks>
            <apiios>
                <class>EM_Apiios_Block</class>
            </apiios>
        </blocks>
        <helpers>
            <apiios>
                <class>EM_Apiios_Helper</class>
            </apiios>
        </helpers>
    </global>
    <default>
        <blockproducts>
            <limit_products>10</limit_products>
            <thumb_width>100</thumb_width>
            <thumb_height>100</thumb_height>
        </blockproducts>
        <product_list_page>
            <limit>10</limit>
        </product_list_page>
        <payment_method_allow>paypal_standard,cc</payment_method_allow>
        <payment>
            <cc>
                <active>1</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <model>apiios/payment_method_cc</model>
                <order_status>pending</order_status>
                <title>Credit Card</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </cc>
        </payment>
     </default>
</config>