<?xml version="1.0"?>
<config>
    <modules>
        <Ktpl_Productimport>
            <version>0.0.1</version>
        </Ktpl_Productimport>
    </modules>
    <admin>
        <routers>
            <productimport>
                <use>admin</use>
                <args>
                    <module>Ktpl_Productimport</module>
                    <frontName>productimport</frontName>
                </args>
            </productimport>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productimport>
                    <file>productimport/productimport.xml</file>
                </productimport>
            </updates>
        </layout>
    </adminhtml>  
    <global>
        <models>
            <productimport>
                <class>Ktpl_Productimport_Model</class>
                <resourceModel>productimport_mysql4</resourceModel>
            </productimport>
        </models>
        <blocks>
            <productimport>
                <class>Ktpl_Productimport_Block</class>
            </productimport>
        </blocks>
        <helpers>
            <productimport>
                <class>Ktpl_Productimport_Helper</class>
            </productimport>
        </helpers>
    </global>
    <admin>
        <routers>
            <productimport>
                <use>admin</use>
                <args>
                    <module>Ktpl_Productimport</module>
                    <frontName>productimport</frontName>
                </args>
            </productimport>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productimport translate="title" module="productimport">
                                            <title>Product Import Settings</title>
                                            <sort_order>100</sort_order>
                                        </productimport>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml> 
</config>