<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hatimeria_AttributeBrowser>
            <version>1.0.0</version>
        </Hatimeria_AttributeBrowser>
    </modules>
    <global>
        <blocks>
            <attributebrowser>
                <class>Hatimeria_AttributeBrowser_Block</class>
            </attributebrowser>
        </blocks>
        <models>
            <attributebrowser>
                <class>Hatimeria_AttributeBrowser_Model</class>
            </attributebrowser>
        </models>
        <helpers>
            <attributebrowser>
                <class>Hatimeria_AttributeBrowser_Helper</class>
            </attributebrowser>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <attributebrowser>
                        <class>Hatimeria_AttributeBrowser_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </attributebrowser>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <routers>
            <attributebrowser>
                <use>standard</use>
                <args>
                    <module>Hatimeria_AttributeBrowser</module>
                    <frontName>attributebrowser</frontName>
                </args>
            </attributebrowser>
        </routers>
        <layout>
            <updates>
                <attributebrowser>
                    <file>attributebrowser.xml</file>
                </attributebrowser>
            </updates>
        </layout>
    </frontend>
    <default>
        <attributebrowser>
            <manufacturer>
                <title>Shop By Brand</title>
                <route>brand</route>
                <attribute>manufacturer</attribute>
            </manufacturer>
        </attributebrowser>
        <catalog>
            <manufacturer>
                <avoided_items></avoided_items>
            </manufacturer>
        </catalog>
    </default>
</config>
