<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Hatimeria_Eav>
            <version>1.0.0</version>
        </Hatimeria_Eav>
    </modules>
    <global>
        <models>
            <heav>
                <class>Hatimeria_Eav_Model</class>
            </heav>
            <eav>
                <rewrite>
                    <entity_attribute_source_table>Hatimeria_Eav_Model_Entity_Attribute_Source_Table</entity_attribute_source_table>
                </rewrite>
            </eav>
        </models>
    </global>
</config>
