<?xml version="1.0"?>
<config>
    <modules>
        <Gearup_Configurator>
            <version>0.1.5</version>
        </Gearup_Configurator>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <gearup_configurator>
                    <file>gearup_configurator.xml</file>
                </gearup_configurator>
            </updates>
        </layout>
        <events>

            <!--            <sales_order_creditmemo_save_after>
                <gearup_configurator_sales_order_creditmemo_save_after>
                    <class>gearup_configurator/observer</class>
                    <method>addCreditmemoProductsBackInStock</method>
                </gearup_configurator_sales_order_creditmemo_save_after>                
            </sales_order_creditmemo_save_after>-->
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Gearup_Configurator before="Mage_Adminhtml">Gearup_Configurator_Adminhtml</Gearup_Configurator>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <gearup_configurator>
                <class>Gearup_Configurator_Block</class>
            </gearup_configurator>
            <configurator>
                <rewrite>
                    <adminhtml_configurator_edit_tab_options>Gearup_Configurator_Block_Adminhtml_Configurator_Edit_Tab_Options</adminhtml_configurator_edit_tab_options>
                </rewrite>
            </configurator>
            <catalog>
                <rewrite>
                    <product_view>Gearup_Configurator_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <pdf>
            <totals>
                <shipping translate="title">
                    <title>Shipping &amp; Handling</title>
                    <source_field>shipping_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>1</display_zero>
                    <sort_order>400</sort_order>
                </shipping>
            </totals>
        </pdf>

        <models>
            <gearup_configurator>
                <class>Gearup_Configurator_Model</class>
                <resourceModel>gearup_configurator_mysql4</resourceModel>
            </gearup_configurator>
            <configurator>
                <rewrite>
                    <option>Gearup_Configurator_Model_Option</option>
                    <utils_templatecopy>Gearup_Configurator_Model_Utils_TemplateCopy</utils_templatecopy>
                </rewrite>
            </configurator>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Gearup_Configurator_Model_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_items_invoice_default>Gearup_Configurator_Model_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
                </rewrite>
            </sales>
            <emailattachments>
                <rewrite>
                    <order_pdf_order>Gearup_Configurator_Model_Order_Pdf_Order</order_pdf_order>
                </rewrite>
            </emailattachments>
            <!--            <catalog>
                <rewrite>
                    <product_type_price>Gearup_Configurator_Model_Product_Type_Price</product_type_price>
                </rewrite>
            </catalog>-->
        </models>
        <helpers>
            <configurator>
                <rewrite>
                    <data>Gearup_Configurator_Helper_Data</data>
                </rewrite>
            </configurator>
            <!--            <core>
                <rewrite>
                    <data>Gearup_Configurator_Helper_Core</data>
                </rewrite>
            </core>            -->
            <!--            <tax>
                <rewrite>
                    <data>Gearup_Configurator_Helper_Tax</data>
                </rewrite>
            </tax>-->
        </helpers>
        <resources>
            <gearup_configurator_setup>
                <setup>
                    <module>Gearup_Configurator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gearup_configurator_setup>
            <gearup_configurator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gearup_configurator_write>
            <gearup_configurator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gearup_configurator_read>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <gearup_configurator_sales_order_save_after>
                        <class>Gearup_Configurator_Model_Observer</class>
                        <method>addCanceledProductsBackInStock</method>
                    </gearup_configurator_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <order_cancel_after>
                <observers>
                    <gearup_configurator_sales_order_cancel_after>
                        <class>Gearup_Configurator_Model_Observer</class>
                        <method>addCanceledProductsBackInStock</method>
                    </gearup_configurator_sales_order_cancel_after>
                </observers>
            </order_cancel_after>
        </events>
    </global>
    <frontend>
        <routers>
            <gearup_configurator>
                <use>standard</use>
                <args>
                    <module>Gearup_Configurator</module>
                    <frontName>gearup-configurator</frontName>
                </args>
            </gearup_configurator>
        </routers>
        <events>
            <sales_order_save_after>
                <observers>
                    <gearup_configurator_customorder>
                        <class>gearup_configurator/observer</class>
                        <method>updateConfiguratorProducts</method>
                    </gearup_configurator_customorder>
                </observers>
            </sales_order_save_after>
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <gearup_configurator_controller_action_postdispatch_catalog_product_view>
                        <class>gearup_configurator/observer</class>
                        <method>disableAddtoCart</method>
                    </gearup_configurator_controller_action_postdispatch_catalog_product_view>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <gearup_configurator_controller_action_predispatch_checkout_onepage_index>
                        <class>gearup_configurator/observer</class>
                        <method>checkConfiguratorProductInStock</method>
                    </gearup_configurator_controller_action_predispatch_checkout_onepage_index>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <gearup_configurator_template>
                        <class>Gearup_Configurator_Model_Observer</class>
                        <method>setConfiguratorTemplate</method>
                    </gearup_configurator_template>
                </observers>
            </controller_action_layout_generate_blocks_after>

            <checkout_cart_product_add_after>
                <observers>
                    <gearup_configurator_setadiscountprice>
                        <class>Gearup_Configurator_Model_Observer</class>
                        <method>modifyPrice</method>
                    </gearup_configurator_setadiscountprice>
                </observers>
            </checkout_cart_product_add_after>

            <controller_action_postdispatch>
                <observers>
                    <gearup_configurator_frontend_currency_change>
                        <class>Gearup_Configurator_Model_Observer</class>
                        <method>hookToControllerActionPostDispatch</method>
                    </gearup_configurator_frontend_currency_change>
                </observers>
            </controller_action_postdispatch>
        </events>
    </frontend>
</config>