<?xml version="1.0"?>
<config>
  <modules>
    <Thinkhigh_VPCpaymentgateway>
      <version>1.0.2</version>
    </Thinkhigh_VPCpaymentgateway>
  </modules>
  <global>
    <models>
      <vpcpaymentgateway>
        <class>Thinkhigh_VPCpaymentgateway_Model</class>
      </vpcpaymentgateway>
    </models>
    <helpers>
      <vpcpaymentgateway>
        <class>Thinkhigh_VPCpaymentgateway_Helper</class>
      </vpcpaymentgateway>
    </helpers>
    <blocks>
      <vpcpaymentgateway>
        <class>Thinkhigh_VPCpaymentgateway_Block</class>
      </vpcpaymentgateway>
    </blocks>
    <fieldsets>
        <sales_convert_quote_payment>
            <vpc_card><to_order_payment>*</to_order_payment></vpc_card>
            <vpc_card_num><to_order_payment>*</to_order_payment></vpc_card_num>
            <vpc_card_exp><to_order_payment>*</to_order_payment></vpc_card_exp>
            <vpc_card_security_code><to_order_payment>*</to_order_payment></vpc_card_security_code>
        </sales_convert_quote_payment>
        <sales_convert_order_payment>
            <vpc_card><to_quote_payment>*</to_quote_payment></vpc_card>
            <vpc_card_num><to_quote_payment>*</to_quote_payment></vpc_card_num>
            <vpc_card_exp><to_quote_payment>*</to_quote_payment></vpc_card_exp>
            <vpc_card_security_code><to_quote_payment>*</to_quote_payment></vpc_card_security_code>
        </sales_convert_order_payment>
    </fieldsets>
    <resources>
        <vpcpaymentgateway_setup>
            <setup>
                <module>Thinkhigh_VPCpaymentgateway</module>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </vpcpaymentgateway_setup>
        <vpcpaymentgateway_write>
            <connection>
                <use>core_write</use>
            </connection>
        </vpcpaymentgateway_write>
        <vpcpaymentgateway_read>
            <connection>
                <use>core_read</use>
            </connection>
        </vpcpaymentgateway_read>
    </resources>
  </global>
  <default>
    <payment>
      <vpcpaymentgateway>
        <model>vpcpaymentgateway/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>MIGS Payment Gateway</title>
		<vpc_Version>1</vpc_Version>
        <vpc_Command>pay</vpc_Command>
		<virtualPaymentClientURL>https://migs.mastercard.com.au/vpcpay</virtualPaymentClientURL>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </vpcpaymentgateway>
    </payment>
  </default>
  <frontend>
    <routers>
      <vpcpaymentgateway>
        <use>standard</use>
        <args>
          <module>Thinkhigh_VPCpaymentgateway</module>
          <frontName>vpcpaymentgateway</frontName>
        </args>
      </vpcpaymentgateway>
    </routers>
  </frontend>
</config>
