<?xml version="1.0"?>
<config>
    <modules>
        <Gearup_Shippingffdx>
            <version>1.0.6</version>
        </Gearup_Shippingffdx>
    </modules>

    <global>
        <resources>
            <gearup_shippingffdx_setup>
                <setup>
                    <module>Gearup_Shippingffdx</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
            </gearup_shippingffdx_setup>
            <gearup_shippingffdx_setup_write>
              <connection>
                <use>core_write</use>
              </connection>
            </gearup_shippingffdx_setup_write>
            <gearup_shippingffdx_setup_read>
              <connection>
                <use>core_read</use>
              </connection>
            </gearup_shippingffdx_setup_read>
        </resources>
        <helpers>
			<ffdxshippingbox>
				<rewrite>
					<data>Gearup_Shippingffdx_Helper_Data</data>
				</rewrite>
			</ffdxshippingbox>
            <gearup_shippingffdx>
                <class>Gearup_Shippingffdx_Helper</class>
            </gearup_shippingffdx>
		</helpers>
        <models>
			<shipping>
				<rewrite>
					<carrier_tablerate>Gearup_Shippingffdx_Model_Carrier</carrier_tablerate>
				</rewrite>
			</shipping>
            <sales>
				<rewrite>
					<order_shipment>Gearup_Shippingffdx_Model_Order_Shipment</order_shipment>
				</rewrite>
			</sales>
            <ffdxshippingbox>
                <rewrite>
                    <observer>Gearup_Shippingffdx_Model_Observer</observer>
                </rewrite>
            </ffdxshippingbox>
            <primecheckout>
                            <rewrite>
                                <source_ajax_update_address>Gearup_Shippingffdx_Model_Source_Ajax_Update_Address</source_ajax_update_address>
                            </rewrite>
                        </primecheckout>
            <gearup_shippingffdx>
                <class>Gearup_Shippingffdx_Model</class>
                <resourceModel>gearup_shippingffdx_resource</resourceModel>
            </gearup_shippingffdx>
            <gearup_shippingffdx_resource>
                <class>Gearup_Shippingffdx_Model_Resource</class>
                <entities>
                    <tracktype>
                        <table>gearup_shippingffdx_tracktype</table>
                    </tracktype>
                    <destination>
                        <table>gearup_shippingffdx_destination</table>
                    </destination>
                    <history>
                        <table>gearup_shippingffdx_history</table>
                    </history>
                </entities>
            </gearup_shippingffdx_resource>
		</models>
        <blocks>
            <gearup_shippingffdx>
                <class>Gearup_Shippingffdx_Block</class>
            </gearup_shippingffdx>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_packaging>Gearup_Shippingffdx_Block_Adminhtml_Sales_Order_Shipment_Packaging</sales_order_shipment_packaging>
                    <sales_order_shipment_create_items>Gearup_Shippingffdx_Block_Adminhtml_Sales_Order_Shipment_Create_Items</sales_order_shipment_create_items>
                    <sales_order_totals>Gearup_Shippingffdx_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                </rewrite>
            </adminhtml>
            <ffdxshippingbox>
				<rewrite>
					<adminhtml_tracking>Gearup_Shippingffdx_Block_Adminhtml_Tracking</adminhtml_tracking>
                    <adminhtml_tracking_grid>Gearup_Shippingffdx_Block_Adminhtml_Tracking_Grid</adminhtml_tracking_grid>
                    <adminhtml_history>Gearup_Shippingffdx_Block_Adminhtml_History</adminhtml_history>
                    <adminhtml_history_grid>Gearup_Shippingffdx_Block_Adminhtml_History_Grid</adminhtml_history_grid>
				</rewrite>
			</ffdxshippingbox>
                        
            <hordermanager>
                <rewrite>
                    <order_info>Gearup_Shippingffdx_Block_Order_Info</order_info>
                </rewrite>
            </hordermanager>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <gearup_shippingffdx>
                    <file>gearup_shippingffdx.xml</file>
                </gearup_shippingffdx>
            </updates>
        </layout>
        <events>
             <adminhtml_block_html_before>
                <observers>
                    <gearup_shippingffdx_html_before>
                        <class>ffdxshippingbox/observer</class>
                        <method>beforeHtml</method>
                    </gearup_shippingffdx_html_before>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Gearup_Shippingffdx before="Mage_Adminhtml">Gearup_Shippingffdx_Adminhtml</Gearup_Shippingffdx>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <gearup_shippingffdx>
                <use>standard</use>
                <args>
                    <module>Gearup_Shippingffdx</module>
                    <frontName>shippingffdx</frontName>
                </args>
            </gearup_shippingffdx>
        </routers>
    </frontend>
</config>