<?xml version="1.0"?>
<config>
    <modules>
        <Justselling_Configurator>
            <version>3.5.26</version>
        </Justselling_Configurator>
    </modules>
	<frontend>
		 <translate>
         	<modules>
            	<Justselling_Configurator>
                	<files>
                   		<default>Justselling_Configurator.csv</default>
                    </files>
               	</Justselling_Configurator>
            </modules>
        </translate>
		<routers>
			<configurator>
				<use>standard</use>
				<args>
					<module>Justselling_Configurator</module>
					<frontName>configurator</frontName>
				</args>
			</configurator>
		</routers>
		<layout>
			<updates>
				<configurator>
					<file>configurator.xml</file>
				</configurator>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<prodconf>
				<use>admin</use>
				<args>
					<module>Justselling_Configurator</module>
					<frontName>prodconf</frontName>
				</args>
			</prodconf>
		</routers>
	</admin>
	<adminhtml>
        <layout>
             <updates>
                 <configurator>
                     <file>configurator.xml</file>
                 </configurator>
             </updates>
         </layout>
		<menu>
			<configurator module="configurator">
				<title>Product Configurator</title>
				<sort_order>71</sort_order>
				<children>
                    	<templatemanager>
                        	<title>Template Manager</title>
                       		<action>prodconf/admin</action>
                    	</templatemanager>
                    	<fontmanagement>
                        	<title>Font Management</title>
                       		<action>prodconf/font</action>
                    	</fontmanagement>
                    <!--	<singleproductjobs>
                        	<title>Single Product Jobs</title>
                        	<sort_order>100</sort_order>
                       		<action>prodconf/adminhtml_job</action>
                    	</singleproductjobs> -->
                </children>
			</configurator>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<configurator>
							<title>Justselling Configurator</title>
							<sort_order>0</sort_order>
                            <children>
                                <templatemanager>
                                    <title>Template Manager</title>
                                    <sort_order>10</sort_order>
                                </templatemanager>
                                <fontmanagement>
                                    <title>Font Management</title>
                                    <sort_order>10</sort_order>
                                </fontmanagement>
                            </children>
						</configurator>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
			<modules>
				<Justselling_Configurator>
					<files>
						<default>Justselling_Configurator.csv</default>
					</files>
				</Justselling_Configurator>
			</modules>
		</translate>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <admin_admin_session_user_login_success>
                        <class>configurator/adminpanel_observer</class>
                        <method>admin_session_user_login_success</method>
                    </admin_admin_session_user_login_success>
                </observers>
            </admin_session_user_login_success>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <configurator>
                        <type>singleton</type>
                        <class>configurator/adminpanel_observer</class>
                        <method>afterSaveSystemConfig</method>
                    </configurator>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>>
        </events>
	</adminhtml>
    <global>
    	<models>
    		<configurator>
				<class>Justselling_Configurator_Model</class>
				<resourceModel>configurator_mysql4</resourceModel>
			</configurator>
			<configurator_mysql4>
				<class>Justselling_Configurator_Model_Mysql4</class>
				<entities>
					<product_option_template>
						<table>configurator_product_option_template</table>
					</product_option_template>
					<template>
						<table>configurator_template</table>
					</template>
					<option>
						<table>configurator_option</table>
					</option>
					<font>
						<table>configurator_font</table>
					</font>
					<option_font>
						<table>configurator_option_font</table>
					</option_font>
					<option_font_color>
						<table>configurator_option_font_color</table>
					</option_font_color>
					<option_font_position>
						<table>configurator_option_font_position</table>
					</option_font_position>
					<option_font_configuration>
						<table>configurator_option_font_configuration</table>
					</option_font_configuration>
					<option_value>
						<table>configurator_option_value</table>
					</option_value>
					<option_valuetag>
						<table>configurator_option_valuetag</table>
					</option_valuetag>
					<option_valuetag_blacklist>
						<table>configurator_option_valuetag_blacklist</table>
					</option_valuetag_blacklist>					
					<option_group>
						<table>configurator_option_group</table>
					</option_group>
					<option_value_blacklist>
						<table>configurator_option_value_blacklist</table>
					</option_value_blacklist>
					<option_blacklist>
						<table>configurator_option_blacklist</table>
					</option_blacklist>
					<pricelist>
						<table>configurator_pricelist</table>
					</pricelist>
					<pricelist_value>
						<table>configurator_pricelist_value</table>
					</pricelist_value>
					<option_value_child_option_status>
						<table>configurator_option_value_child_option_status</table>
					</option_value_child_option_status>
					<child_option_status>
						<table>configurator_child_option_status</table>
					</child_option_status>
					<postpricerule>
						<table>configurator_post_price_rule</table>
					</postpricerule>
					<rules>
						<table>configurator_rules</table>
					</rules>
					<option_matrix>
						<table>configurator_option_matrixvalue</table>
					</option_matrix>
                    <jobprocessor_job>
                        <table>configurator_jobprocessor_jobs</table>
                    </jobprocessor_job>
                    <singleproduct_job>
                        <table>configurator_singleproduct_job</table>
                    </singleproduct_job>
					<upload>
						<table>fileuploader_order</table>
					</upload>
                    <vectorgraphics_file>
                        <table>configurator_vectorgraphics_file</table>
                    </vectorgraphics_file>
                    <uploadstatus>
                        <table>configurator_uploadstatus</table>
                    </uploadstatus>
				</entities>
			</configurator_mysql4>
			<catalog>				
				<rewrite>
					<product_option>Justselling_Configurator_Model_Product_Option</product_option>
				</rewrite>
			</catalog>
			<sales>				
				<rewrite>
					<quote>Justselling_Configurator_Model_Quote</quote>
				</rewrite>
			</sales>
		</models>
        <cache>
            <types>
                <productconfigurator>
                    <label>Product Configurator</label>
                    <description>All Cache entries of the product configurator extension.</description>
                    <tags>PRODCONF</tags>
                </productconfigurator>
            </types>
        </cache>
		<resources>
			<configurator_setup>
				<setup>
					<module>Justselling_Configurator</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</configurator_setup>
			<configurator_write>
				<connection>
					<use>core_write</use>
				</connection>
			</configurator_write>
			<configurator_read>
				<connection>
					<use>core_read</use>
				</connection>
			</configurator_read>
		</resources>
		<blocks>
			<configurator>
				<class>Justselling_Configurator_Block</class>
			</configurator>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tab_options_option>Justselling_Configurator_Block_Options_OptionAdmin</catalog_product_edit_tab_options_option>
					<page_menu>Justselling_Configurator_Block_Adminhtml_Menu</page_menu>
				</rewrite>
			</adminhtml>	
			<catalog>
				<rewrite>
					<product_view_options>Justselling_Configurator_Block_Product_View_Options</product_view_options>
				</rewrite>
			</catalog>	
			<checkout>
				<rewrite>
					<cart_item_renderer>Justselling_Configurator_Block_Cart_Item_Renderer</cart_item_renderer>
				</rewrite>
			</checkout>		
             <adminhtml>
                <rewrite>
                    <customer_edit_tabs>Justselling_Configurator_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs> 
                </rewrite>
             </adminhtml>
            <wishlist>
                <rewrite>
                    <customer_wishlist_item_column_image>Justselling_Configurator_Block_Wishlist_Image</customer_wishlist_item_column_image>
                </rewrite>
            </wishlist>
            <wishlist>
                <rewrite>
                    <customer_sidebar>Justselling_Configurator_Block_Wishlist_Sidebar</customer_sidebar>
                </rewrite>
            </wishlist>
		</blocks>		
		<helpers>
			<configurator>
				<class>Justselling_Configurator_Helper</class>
			</configurator>
			<catalog>
				<rewrite>
					<product_view>Justselling_Configurator_Helper_Product_View</product_view>
				</rewrite>
			</catalog>
		</helpers>
       <events>
      		<sales_convert_quote_to_order>
            	<observers>
                    <vector_graphics_quote_to_order>
                        <class>configurator/vectorgraphics_observer</class>
                        <method>sales_convert_quote_to_order</method>
                    </vector_graphics_quote_to_order>
                    <upload_quote_to_order>
                        <type>singleton</type>
                        <class>configurator/upload_observer</class>
                        <method>sales_convert_quote_to_order</method>
                    </upload_quote_to_order>
                </observers>
            </sales_convert_quote_to_order>
            <checkout_cart_add_product_complete>
                <observers>
                    <vectorgraphics_checkout_cart_add_product_complete>
                        <class>configurator/vectorgraphics_observer</class>
                        <method>checkout_cart_add_product_complete</method>
                    </vectorgraphics_checkout_cart_add_product_complete>
                    <upload_add_to_cart_after>
                        <class>configurator/upload_observer</class>
                        <method>checkout_cart_add_product_complete</method>
                    </upload_add_to_cart_after>
                </observers>
            </checkout_cart_add_product_complete>
            <sales_quote_save_after>
                <observers>
                    <upload_sales_quote_save_after>
                        <class>configurator/upload_observer</class>
                        <method>sales_quote_save_after</method>
                    </upload_sales_quote_save_after>
                </observers>
            </sales_quote_save_after>
            <sales_order_save_after>
                <observers>
                    <upload_sales_order_save_after>
                        <class>configurator/upload_observer</class>
                        <method>sales_order_save_after</method>
                    </upload_sales_order_save_after>
                    <vectorgraphics_sales_order_save_after>
                        <class>configurator/vectorgraphics_observer</class>
                        <method>sales_order_save_after</method>
                    </vectorgraphics_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            <checkout_cart_product_add_after>
                <observers>
                    <upload_checkout_cart_product_add_after>
                        <class>configurator/upload_observer</class>
                        <method>checkout_cart_product_add_after</method>
                    </upload_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_item_complete>
                <observers>
                    <upload_cart_update_item_complete>
                        <class>configurator/upload_observer</class>
                        <method>checkout_cart_update_item_complete</method>
                    </upload_cart_update_item_complete>
                    <vectorgraphics_cart_update_item_complete>
                        <class>configurator/vectorgraphics_observer</class>
                        <method>checkout_cart_update_item_complete</method>
                    </vectorgraphics_cart_update_item_complete>
                </observers>
            </checkout_cart_update_item_complete>
            <customer_login>
                <observers>
                    <upload_customer_login>
                        <class>configurator/upload_observer</class>
                        <method>customer_login</method>
                    </upload_customer_login>
                </observers>
            </customer_login>
        </events>
    </global>
	<default>
		<productconfigurator>
            <stock>
                <active>0</active>
                <price>0</price>
                <configuration>0</configuration>
            </stock>
            <general>
                <jquery>1</jquery>
                <jqueryui>1</jqueryui>
                <loadingtext>The product configurator is being loaded...</loadingtext>
                <onlinehelp>1</onlinehelp>
                <combinedimage>1</combinedimage>
            </general>
            <overlayimage>
                <usewidthfromimage>1</usewidthfromimage>
            </overlayimage>
            <developer>
                <loglevel>0</loglevel>
				<productimageselector>p.product-image</productimageselector>
            </developer>
            <dataimport>
                <csvseparator>0</csvseparator>
            </dataimport>
			<cache>
				<lifetime>3600</lifetime>
			</cache>
		</productconfigurator>
	</default>
    <!--
    <crontab>
        <jobs>
            <jobprocessor_run_jobs>
	            <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run>>configurator/jobprocessor_observer::process</model></run>
            </jobprocessor_run_jobs>
        </jobs>
    </crontab>
    -->
</config>
