<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Outstocknotification>
      <version>0.1.4</version>
    </Magebuzz_Outstocknotification>
  </modules>
  <frontend>
    <translate>
      <modules>
        <Magebuzz_Outstocknotification>
          <files>
            <default>Magebuzz_Outstocknotification.csv</default>
          </files>
        </Magebuzz_Outstocknotification>
      </modules>
    </translate>
    <routers>
      <outstocknotification>
        <use>standard</use>
        <args>
          <module>Magebuzz_Outstocknotification</module>
          <frontName>outstocknotification</frontName>
        </args>
      </outstocknotification>
    </routers>
    <layout>
      <updates>
        <outstocknotification>
          <file>outstocknotification.xml</file>
        </outstocknotification>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <outstocknotification before="Mage_Adminhtml">Magebuzz_Outstocknotification_Adminhtml</outstocknotification>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <translate>
      <modules>
        <Magebuzz_Outstocknotification>
          <files>
            <default>Magebuzz_Outstocknotification.csv</default>
          </files>
        </Magebuzz_Outstocknotification>
      </modules>
    </translate>    
    <layout>
      <updates>
        <outstocknotification>
          <file>outstocknotification.xml</file>
        </outstocknotification>
      </updates>
    </layout>
  </adminhtml>   
  <global>
    <models>
      <outstocknotification>
        <class>Magebuzz_Outstocknotification_Model</class>
        <resourceModel>outstocknotification_mysql4</resourceModel>
      </outstocknotification>
      <outstocknotification_mysql4>
        <class>Magebuzz_Outstocknotification_Model_Mysql4</class>
        <entities>
          <outstocknotification>
            <table>outstocknotification</table>
          </outstocknotification>
        </entities>
      </outstocknotification_mysql4>
    </models>
    <resources>
      <outstocknotification_setup>
        <setup>
          <module>Magebuzz_Outstocknotification</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </outstocknotification_setup>
      <outstocknotification_write>
        <connection>
          <use>core_write</use>
        </connection>
      </outstocknotification_write>
      <outstocknotification_read>
        <connection>
          <use>core_read</use>
        </connection>
      </outstocknotification_read>
    </resources>
    <blocks>
      <outstocknotification>
        <class>Magebuzz_Outstocknotification_Block</class>
      </outstocknotification>
    </blocks>
    <helpers>
      <outstocknotification>
        <class>Magebuzz_Outstocknotification_Helper</class>
      </outstocknotification>
    </helpers>
    <events>
      <catalog_product_save_after>      
        <observers>
          <outstocknotification>
            <type>singleton</type>
            <class>outstocknotification/observer</class>
            <method>sendMailToNotifiedToCustomer</method>
          </outstocknotification>
        </observers>
      </catalog_product_save_after> 
      <core_block_abstract_to_html_before>
        <observers>
          <magebuzz_outstocknotification_observer>
            <type>singleton</type>
            <class>outstocknotification/observer</class>
            <method>addTabAlertStock</method>
          </magebuzz_outstocknotification_observer>
        </observers>
      </core_block_abstract_to_html_before>
    </events>    

    <template>
      <email>
        <outstocknotification_outofstock_email_outofstock_template translate="label" module="outstocknotification">
          <label>Out Stock Email Template</label>
          <file>outofstock_alert_template.html</file>
          <type>html</type>
        </outstocknotification_outofstock_email_outofstock_template>
      </email>
    </template>       
  </global>
  <default>
    <outstocknotification>
      <general>
        <module_enable>1</module_enable>
        <showbutton>1</showbutton>			
        <labelbutton>Notify</labelbutton>    
        <displayname>1</displayname>
        <introductionlabel>Please enter your information and we will notify you when the product is back in stock.</introductionlabel>	
        <popup_heading>Product Subscription</popup_heading>
        <success_message>Alert subscription has been saved.</success_message>
        <error_message>Unable to update the alert subscription.</error_message>	
				<include_jquery>0</include_jquery>
      </general>
      <outofstock_email>
        <outofstock_template>outstocknotification_outofstock_email_outofstock_template</outofstock_template>
      </outofstock_email>
    </outstocknotification>
  </default>  
</config>