<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gearup_Sds>
            <version>1.1.9</version>
        </Gearup_Sds>
    </modules>
    <global>
        <resources>
            <gearup_sds_setup>
                <setup>
                    <module>Gearup_Sds</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
            </gearup_sds_setup>
            <gearup_sds_setup_write>
              <connection>
                <use>core_write</use>
              </connection>
            </gearup_sds_setup_write>
            <gearup_sds_setup_read>
              <connection>
                <use>core_read</use>
              </connection>
            </gearup_sds_setup_read>
        </resources>
        <models>
            <catalog>
                <rewrite>
                    <layer>Gearup_Sds_Model_Layer</layer>
                </rewrite>
            </catalog>
            <pickpack>
                <rewrite>
                    <sales_order_pdf_invoices_separated>Gearup_Sds_Model_Sales_Order_Pdf_Invoices_Separated</sales_order_pdf_invoices_separated>
                </rewrite>
            </pickpack>
            <hordermanager_resource>
                <rewrite>
                    <sales_order_collection>Gearup_Sds_Model_Resource_Sales_Order_Collection</sales_order_collection>
                </rewrite>
            </hordermanager_resource>
            <gearup_sds>
                <class>Gearup_Sds_Model</class>
                <resourceModel>gearup_sds_resource</resourceModel>
            </gearup_sds>
            <gearup_sds_resource>
                <class>Gearup_Sds_Model_Resource</class>
                <entities>
                    <tracking>
                        <table>gearup_sds_tracking</table>
                    </tracking>
                    <history>
                        <table>gearup_sds_history</table>
                    </history>
                </entities>
            </gearup_sds_resource>
       </models>
       <blocks>
           <hordermanager>
               <rewrite>
                   <adminhtml_period_view>Gearup_Sds_Block_Adminhtml_Period_View</adminhtml_period_view>
               </rewrite>
           </hordermanager>
            <gearup_sds>
              <class>Gearup_Sds_Block</class>
            </gearup_sds>
            <rss>
                <rewrite>
                    <list>Gearup_Sds_Block_List</list>
                    <catalog_sds>Gearup_Sds_Block_Catalog_Sds</catalog_sds>
                </rewrite>
            </rss>
            <adminhtml>
                <rewrite>
                    <sales_items_column_name>Gearup_Sds_Block_Adminhtml_Sales_Items_Column_Name</sales_items_column_name>
                </rewrite>
            </adminhtml>
       </blocks>
       <helpers>
            <gearup_sds>
                <class>Gearup_Sds_Helper</class>
            </gearup_sds>
        </helpers>
        <template>
            <email>
                <sds_email_template1 module="gearup_sds">
                    <label>SDS product low stock</label>
                    <file>sds_email_template1.html</file>
                    <type>html</type>
                </sds_email_template1>
            </email>
        </template>
        <events>
            <sales_order_place_after>
                <observers>
                   <gearup_sds>
                        <type>singleton</type>
                        <class>Gearup_Sds_Model_Observer</class>
                        <method>orderSubmit</method>
                    </gearup_sds>
                </observers>
            </sales_order_place_after>
            <checkout_onepage_controller_success_action>
                <observers>
                   <gearup_sds>
                        <type>singleton</type>
                        <class>Gearup_Sds_Model_Observer</class>
                        <method>orderSuccess</method>
                    </gearup_sds>
                </observers>
            </checkout_onepage_controller_success_action>
            <cataloginventory_stock_item_save_commit_after>
                <observers>
                   <gearup_sds>
                        <type>singleton</type>
                        <class>Gearup_Sds_Model_Observer</class>
                        <method>catalogInventorySavefront</method>
                    </gearup_sds>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
            <sales_order_item_cancel>
                <observers>
                    <gearup_sds>
                        <type>singleton</type>
                        <class>Gearup_Sds_Model_Observer</class>
                        <method>cancelOrderItem</method>
                    </gearup_sds>
                </observers>
            </sales_order_item_cancel>
        </events>
    </global>
    <frontend>
        <routers>
            <gearup_sds>
                <use>standard</use>
                <args>
                    <module>Gearup_Sds</module>
                    <frontName>sds</frontName>
                </args>
            </gearup_sds>
            <rss>
                <use>standard</use>
                <args>
                    <modules>
                        <Gearup_Sds before="Mage_Rss">Gearup_Sds</Gearup_Sds>
                    </modules>
                </args>
           </rss>
           <sendfriend>
				<args>
					<modules>
						<Gearup_Sds before="Mage_Sendfriend">Gearup_Sds</Gearup_Sds>
					</modules>
				</args>
			</sendfriend>
            <sociallogin>
				<args>
					<modules>
                        <Gearup_Sds before="Magestore_Sociallogin">Gearup_Sds</Gearup_Sds>
                    </modules>
				</args>
			</sociallogin>
        </routers>
    </frontend>
    <default>
        <payment>
            <cashondelivery>
              <max_price_total>500</max_price_total>
              <sdsmax_price_total>5000</sdsmax_price_total>
            </cashondelivery>
        </payment>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <sds>
                    <file>gearup_sds.xml</file>
                </sds>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gearup_Sds>
                    <files>
                        <default>Gearup_Sds.csv</default>
                    </files>
                </Gearup_Sds>
            </modules>
        </translate>
        <events>
            <catalog_product_save_after>
                <observers>
                    <gearup_sds>
                        <type>singleton</type>
                        <class>Gearup_Sds_Model_Observer</class>
                        <method>addProductSds</method>
                    </gearup_sds>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <gearup_sds>
                        <type>singleton</type>
                        <class>Gearup_Sds_Model_Observer</class>
                        <method>addCategorySds</method>
                    </gearup_sds>
                </observers>
            </catalog_category_save_after>
            <cataloginventory_stock_item_save_commit_after>
                <observers>
                   <gearup_sds>
                        <type>singleton</type>
                        <class>Gearup_Sds_Model_Observer</class>
                        <method>catalogInventorySave</method>
                    </gearup_sds>
                </observers>
            </cataloginventory_stock_item_save_commit_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <gearup_sds>
                        <type>singleton</type>
                        <class>Gearup_Sds_Model_Observer</class>
                        <method>refundOrderInventory</method>
                    </gearup_sds>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_save_after>
                <observers>
                    <gearup_sds>
                        <type>singleton</type>
                        <class>Gearup_Sds_Model_Observer</class>
                        <method>saveComment</method>
                    </gearup_sds>
                </observers>
            </sales_order_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Gearup_Sds before="Mage_Adminhtml">Gearup_Sds_Adminhtml</Gearup_Sds>
                    </modules>
                    <modules>
                        <Gearup_Sds before="Fenomics_OrderEmail">Gearup_Sds_Adminhtml</Gearup_Sds>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <gearup_sds_lowstock>
                <schedule>
                    <cron_expr>30 8 * * *</cron_expr>
                </schedule>
                <run>
                    <model>gearup_sds/cron::checkLowstock</model>
                </run>
            </gearup_sds_lowstock>
            <gearup_sds_updatelm>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>gearup_sds/cron::checkSdsRed</model>
                </run>
            </gearup_sds_updatelm>
            <!--<gearup_sds_lowstock_notification>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>gearup_sds/cron::checkNotification</model>
                </run>
            </gearup_sds_lowstock_notification>-->
            <gearup_sds_day_stock_overview>
                <schedule>
                    <cron_expr>0 10 * * *</cron_expr>
                </schedule>
                <run>
                    <model>gearup_sds/cron::sdsDayStockOverview</model>
                </run>
            </gearup_sds_day_stock_overview>    
        </jobs>
    </crontab>
</config>