<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ktpl_RepresentativeReport::repreport" title="Representative Report" module="Ktpl_RepresentativeReport" action="repreport/report/index" parent="Magento_Reports::report_marketing" sortOrder="40" dependsOnModule="Magento_Reports" resource="Ktpl_RepresentativeReport::repreport"/>
    </menu>
</config>