<style>
    #shippypro-welcome {
        background-color: white;
        border-radius: 5px;
        border: 1px solid lightgray;
        margin-bottom: 20px;
    }

    #shippypro-welcome .main_content {
        margin-top: 30px;
    }
</style>

<div id="shippypro-welcome">
    <div class="wrap postbox main_content">
        <header class="text-center">
            <div class="row">
                <div class="col-md-8">
                    <h1>ALSO DO NOT WASTE YOUR TIME CREATING SHIPPING LABELS.. ANYMORE!</h1>
                    <br>
                    <p class="lead font-lato">
                        With ShippyPro you can create shipping labels in bulk, track packages and<br>
                        manage shipments like a pro, saving time and money on shipping.&nbsp;<br><br>
                        You will be charged in addition only if you want to use ShippyPro<br>
                        to create shipping label faster, connecting all your selling platforms.<br><br>
                        When you create a shipping label in ShippyPro<br>
                        the system will show you the shipping options chosen by your customer at the checkout
                    </p>
                    <a href="https://www.shippypro.com/register.html?utm_source=magento2_module&utm_medium=magento2_module" target="_blank" class="btn btn-primary btn-lg">Try Now</a><br><br>
                    <img src="https://cdn.shippypro.com/landingebay/corrieri-lista.jpg" style="width: 735px; margin: 0 auto">
                </div>
                <div class="col-md-4 text-center">
                    <div class="video_content">
                        <iframe width="90%" height="400" src="https://www.youtube.com/embed/NjRxiUOHEy8?autoplay=0" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            <hr>
        </header>
        <!-- FEATURED BOXES 4 -->
        <div class="row" style="margin-top: 10px; margin-bottom: 10px">
            <div class="col-md-4 col-xs-8">
                <div class="text-center">
                    <img src="https://www.shippypro.com/sites/all/themes/shippypro_theme/assets/images/connectmarketplaces.jpg"
                        style="width:35%;" alt="Connect your marketplaces">
                    <h2>IMPORT YOUR ORDERS</h2>
                    <p>Sync your online stores and your website to automatically receive the unshipped orders</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-8">
                <div class="text-center">

                    <img src="https://www.shippypro.com/sites/all/themes/shippypro_theme/assets/images/labelshome.jpg"
                        style="width:54%;" alt="Print your shipping labels with Shippypro">
                    <h2>PRINT YOUR LABELS</h2>
                    <p>Select the unshipped orders and print the labels</p>
                </div>
            </div>
            <div class="col-md-4 col-xs-8">
                <div class="text-center">
                    <img src="https://www.shippypro.com/sites/all/themes/shippypro_theme/assets/images/ebayhome.jpg"
                        style="width:35%;" alt="Connect your marketplaces with Shippypro">
                    <h2>UPDATE YOUR MARKETPLACES</h2>
                    <p>Your orders are signed as shipped with its tracking number</p>
                </div>
            </div>
        </div>
    </div>
</div>