<style>
    #shippypro-welcome {
        background-color: white;
        border-radius: 5px;
        border: 1px solid lightgray;
        margin-bottom: 20px;
    }

    #shippypro-welcome .main_content {
        margin-top: 30px;
    }

    #shippypro-welcome li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<div id="shippypro-welcome">
    <div class="wrap postbox main_content text-center">
        <h1>ShippyPro Live Shipping Rates and Dropoff Points at checkout</h1>
    </div>
    <div class="wrap postbox postbox-custom row" style="overflow: hidden">
        <div class="col-md-6" style="padding: 40px; font-size: 18px">
            <b>Show your carriers fares inside your Magento 2 checkout with the ShippyPro's plugin!</b><br><br>
            With ShippyPro plugin your Magento 2 checkout will show live carriers fares for each order and your
            customers
            will be able to choose their favourite carrier and additional options such as Dropoff Locations.<br><br>
            <b>You and your customers will not overpay anymore for a remote area surcharge delivery!</b><br><br>
            <b>The extension requires a free ShippyPro account.</b><br><br>
            <ul>
                <li>1. <a href="https://www.shippypro.com/register.html?utm_source=magento2_module&utm_medium=magento2_module" target="_blank" class="btn btn-primary btn-sm">Create a ShippyPro account</a></li>
                <li>2. Connect your carriers</li>
                <li>3. <a href="https://www.shippypro.com/checkout_modules_guides/magento2.pdf" target="_blank" class="btn btn-primary btn-sm">Download the guide</a></li>
                <li>4. You're ready</li>
            </ul>            
        </div>
        <div class="col-md-6 text-center">
            <h2>Setup</h2>
            <div class="video_content">
                <iframe width="700" height="400" src="https://www.youtube.com/embed/bRNs2GoEtKM?autoplay=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>