<?xml version="1.0"?>
<config>
    <modules>
        <Anowave_Ecu>
            <version>0.0.1</version>
        </Anowave_Ecu>
    </modules>
    <global>
    	<models>
		    <ecu>
		        <class>Anowave_Ecu_Model</class>
		    </ecu>
		    <ec>
		    	<rewrite>
		    		<observer>Anowave_Ecu_Model_Observer</observer>
		    		<observer_newsletter>Anowave_Ecu_Model_Observer_Newsletter</observer_newsletter>
		    	</rewrite>
		    </ec>
		</models>
		<blocks>
			<ecu>
                <class>Anowave_Ecu_Block</class>
            </ecu>
		</blocks>
		<helpers>
	        <ecu>
	            <class>Anowave_Ecu_Helper</class>
	        </ecu>
	        <ec>
	        	<rewrite>
		    		<data>Anowave_Ecu_Helper_Data</data>
		    	</rewrite>
	        </ec>
	    </helpers>
	    <events>
	    	<ec_checkout_products_get_after>
                <observers>
                    <ecu>
                        <class>ecu/observer</class>
                        <method>getCheckoutProductsAfter</method>
                    </ecu>
                </observers>
            </ec_checkout_products_get_after>
            <ec_order_products_get_after>
            	<observers>
                    <ecu>
                        <class>ecu/observer</class>
                        <method>getOrderProductsAfter</method>
                    </ecu>
                </observers>
            </ec_order_products_get_after>
            <ec_get_impression_data_after>
            	<observers>
                    <ecu>
                        <class>ecu/observer</class>
                        <method>getImpressionDataAfter</method>
                    </ecu>
                </observers>
            </ec_get_impression_data_after>
	    </events>
    </global>
</config>