<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mish_Rounding>
            <version>1.0.0</version>
        </Mish_Rounding>
    </modules>
    <global>
        <helpers>
            <rounding>
                <class>Mish_Rounding_Helper</class>
            </rounding>
            <catalog>
                <rewrite>
                    <product_type_composite>Mish_Rounding_Helper_Product_Type_Composite</product_type_composite>
                </rewrite>
            </catalog>
            <tax>
                <rewrite>
                    <data>Mish_Rounding_Helper_Tax</data>
                </rewrite>
            </tax>
        </helpers>
        <models>
            <directory>
                <rewrite>
                    <currency>Mish_Rounding_Model_Currency</currency>
                    <currency_import_webservicex>Mish_Rounding_Model_Currency_Import_Webservicex</currency_import_webservicex>
                </rewrite>
            </directory>
            <tax>
                <rewrite>
                    <calculation>Mish_Rounding_Model_Calculation</calculation>
                </rewrite>
                <rewrite>
                    <sales_total_quote_shipping>Mish_Rounding_Model_Sales_Total_Quote_Shipping</sales_total_quote_shipping>
                </rewrite>
                <rewrite>
                    <sales_total_quote_subtotal>Mish_Rounding_Model_Sales_Total_Quote_Subtotal</sales_total_quote_subtotal>
                </rewrite>
                 <rewrite>
                    <sales_total_quote_tax>Mish_Rounding_Model_Sales_Total_Quote_Tax</sales_total_quote_tax>
                </rewrite>                                                
                <rewrite>
                    <config>Mish_Rounding_Model_Config</config>
                </rewrite>
            </tax>
        </models>
        <blocks>
            <bundle>
                <rewrite>
                    <catalog_product_view_type_bundle>Mish_Rounding_Block_Catalog_Product_View_Bundle</catalog_product_view_type_bundle>
                </rewrite>
            </bundle>       
        </blocks>
        <events>
            <sales_quote_collect_totals_after>
                <observers>
                    <rounding>
                        <class>Mish_Rounding_Model_Observer</class>
                        <method>roundTotal</method>
                    </rounding>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_order_invoice_register>
                <observers>
                    <rounding>
                        <class>Mish_Rounding_Model_Observer</class>
                        <method>correctInvoiceTotals</method>
                    </rounding>
                </observers>
            </sales_order_invoice_register>
        </events>
    </global>
</config>
