<?xml version="1.0"?>
<config>    
    <modules>
        <Dotdigitalgroup_Dotmailer>
            <version>0.1.0</version>
        </Dotdigitalgroup_Dotmailer>
    </modules>
    <global>
		<blocks>
			<dotdigitalgroup_dotmailer>
				<class>Dotdigitalgroup_Dotmailer_Block</class>
			</dotdigitalgroup_dotmailer>
		</blocks>
		<models>
            <dotdigitalgroup_dotmailer>
                <class>Dotdigitalgroup_Dotmailer_Model</class>
				<resourceModel>dotdigitalgroup_dotmailer_mysql4</resourceModel>
            </dotdigitalgroup_dotmailer>
			<dotdigitalgroup_dotmailer_mysql4>
                <class>Dotdigitalgroup_Dotmailer_Model_Mysql4</class>
                <entities>
					<history>
						<table>dotdigitalgroup_dotmailer_history</table>
					</history>
				</entities>
			</dotdigitalgroup_dotmailer_mysql4>
        </models>
        <resources>
            <dotmailer_setup>
                <setup>
                    <module>Dotdigitalgroup_Dotmailer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dotmailer_setup>
            <dotmailer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dotmailer_write>
            <dotmailer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dotmailer_read>
        </resources>
        <helpers>
            <dotdigitalgroup_dotmailer>
                <class>Dotdigitalgroup_Dotmailer_Helper</class>
            </dotdigitalgroup_dotmailer>
        </helpers>
		<events>
		    <newsletter_subscriber_save_before>
		        <observers>
		            <newsletter_subscriber_save_before>
		                <type>singleton</type>
		                <class>dotdigitalgroup_dotmailer/observer</class>
		                <method>subscriberSaveBefore</method>
		            </newsletter_subscriber_save_before>
		        </observers>
		    </newsletter_subscriber_save_before>

		    <newsletter_subscriber_save_after>
		        <observers>
		            <newsletter_subscriber_save_after>
		                <type>singleton</type>
		                <class>dotdigitalgroup_dotmailer/observer</class>
		                <method>subscriberSaveAfter</method>
		            </newsletter_subscriber_save_after>
		        </observers>
		    </newsletter_subscriber_save_after>
			
			
		    <newsletter_subscriber_delete_after>
		        <observers>
		            <newsletter_subscriber_delete_after>
		                <type>singleton</type>
		                <class>dotdigitalgroup_dotmailer/observer</class>
		                <method>subscriberDeleteAfter</method>
		            </newsletter_subscriber_delete_after>
		        </observers>
		    </newsletter_subscriber_delete_after>


		    <customer_save_before>
		        <observers>
		            <customer_save_before>
		                <type>singleton</type>
		                <class>dotdigitalgroup_dotmailer/observer</class>
		                <method>customerSaveBefore</method>
		            </customer_save_before>
		        </observers>
		    </customer_save_before>
		    <customer_save_after>
		        <observers>
		            <customer_save_after>
		                <type>singleton</type>
		                <class>dotdigitalgroup_dotmailer/observer</class>
		                <method>customerSaveAfter</method>
		            </customer_save_after>
		        </observers>
		    </customer_save_after>
		
		    <customer_address_save_after>
		        <observers>
		            <customer_address_save_after>
		                <type>singleton</type>
		                <class>dotdigitalgroup_dotmailer/observer</class>
		                <method>customerAddressSaveAfter</method>
		            </customer_address_save_after>
		        </observers>
		    </customer_address_save_after>
		    <customer_delete_after>
		        <observers>
		            <customer_delete_after>
		                <type>singleton</type>
		                <class>dotdigitalgroup_dotmailer/observer</class>
		                <method>customerDeleteAfter</method>
		            </customer_delete_after>
		        </observers>
		    </customer_delete_after>
			
		    <sales_order_save_after>
		        <observers>
		            <sales_order_save_after>
		                <type>singleton</type>
		                <class>dotdigitalgroup_dotmailer/observer</class>
		                <method>orderSaveAfter</method>
		            </sales_order_save_after>
		        </observers>
		    </sales_order_save_after>
		    <checkout_cart_save_after>
		        <observers>
		            <checkout_cart_save_after>
		                <type>singleton</type>
		                <class>dotdigitalgroup_dotmailer/observer</class>
		                <method>cartSaveAfter</method>
		            </checkout_cart_save_after>
		        </observers>
		    </checkout_cart_save_after>

		</events> 
    </global>
    <admin>
        <routers>
            <dotmailer>
                <use>admin</use>
                <args>
                    <module>Dotdigitalgroup_Dotmailer</module>
                    <frontName>dotmailer</frontName>
                </args>
            </dotmailer>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<dotdigitalgroup_dotmailer module="dotdigitalgroup_dotmailer">
					<file>dotdigitalgroup_dotmailer.xml</file>
				</dotdigitalgroup_dotmailer>
			</updates>
		</layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dotmailer translate="title" module="customer">
                                            <title>dotMailer</title>
                                            <sort_order>50</sort_order>
                                        </dotmailer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<frontend>
        <routers>
            <dotmailer>
                <use>standard</use>
                <args>
                    <module>Dotdigitalgroup_Dotmailer</module>
                    <frontName>dotmailer</frontName>
                </args>
            </dotmailer>
        </routers>
		<layout>
			<updates>
				<dotdigitalgroup_dotmailer module="dotdigitalgroup_dotmailer">
					<file>dotdigitalgroup_dotmailer.xml</file>
				</dotdigitalgroup_dotmailer>
			</updates>
		</layout>
	</frontend>
    <crontab>
        <jobs>
            <dotdigitalgroup_dotmailer_sendCampaignToLostBaskets>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>dotdigitalgroup_dotmailer/observer::sendCampaignToLostBaskets</model>
                </run>
            </dotdigitalgroup_dotmailer_sendCampaignToLostBaskets>
            <dotdigitalgroup_dotmailer_sendCampaignToIncompleteOrders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>dotdigitalgroup_dotmailer/observer::sendCampaignToIncompleteOrders</model>
                </run>
            </dotdigitalgroup_dotmailer_sendCampaignToIncompleteOrders>
            <dotdigitalgroup_dotmailer_synchronization>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>dotdigitalgroup_dotmailer/observer::synchronization</model>
                </run>
            </dotdigitalgroup_dotmailer_synchronization>
        </jobs>
    </crontab>        
</config>