<?xml version="1.0" ?>
<config>
    <modules>
        <Gearup_Tooltip>
            <version>1.0.0</version>
        </Gearup_Tooltip>
    </modules>
    <global>
        <blocks>
            <tooltip>
                <class>Gearup_Tooltip_Block</class>
            </tooltip>
        </blocks>
        <helpers>
            <tooltip>
                <class>Gearup_Tooltip_Helper</class>
            </tooltip>
        </helpers>
    </global>
</config>