<?xml version="1.0"?>
<config>
    <modules>
        <Addedbytes_Discontinuedproducts>
            <version>0.1.2</version>
        </Addedbytes_Discontinuedproducts>
    </modules>
    <global>
        <models>
            <discontinuedproducts>
                <class>Addedbytes_Discontinuedproducts_Model</class>
            </discontinuedproducts>
        </models>
        <resources>
            <discontinuedproducts_setup>
                <setup>
                    <module>Addedbytes_Discontinuedproducts</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </discontinuedproducts_setup>
            <discontinuedproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </discontinuedproducts_write>
            <discontinuedproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </discontinuedproducts_read>
        </resources>
        <helpers>
            <discontinuedproducts>
                <class>Addedbytes_Discontinuedproducts_Helper</class>
            </discontinuedproducts>
        </helpers>
        <blocks>
            <discontinuedproducts>
                <class>Addedbytes_Discontinuedproducts_Block</class>
            </discontinuedproducts>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <discontinuedproducts>
                    <file>addedbytes_discontinuedproducts.xml</file>
                </discontinuedproducts>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <discontinuedproducts translate="title" module="discontinuedproducts">
                                            <title>Added Bytes Discontinued Products</title>
                                            <sort_order>0</sort_order>
                                        </discontinuedproducts>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <catalog_product_save_before>
                <observers>
                    <checkdiscontinue>
                        <class>discontinuedproducts/observer</class>
                        <method>chkDiscontinue</method>
                    </checkdiscontinue>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>
    <default>
        <discontinuedproducts>
            <display_settings>
                <discontinued_product_unavailable_message>Sorry, but &lt;strong&gt;%s&lt;/strong&gt; is no longer available to buy.</discontinued_product_unavailable_message>
                <discontinued_product_count>4</discontinued_product_count>
                <discontinued_product_column_count>4</discontinued_product_column_count>
                <discontinued_intro_text>&lt;p&gt;We think you might like one of these instead:&lt;/p&gt;</discontinued_intro_text>
            </display_settings>
        </discontinuedproducts>
    </default>
</config>
