<?xml version="1.0"?>
<config>
    <modules>
        <EM_SendSMS>
            <version>0.1.0</version>
        </EM_SendSMS>
    </modules>
    <frontend>
        <routers>
            <sendsms>
                <use>standard</use>
                <args>
                    <module>EM_SendSMS</module>
                    <frontName>sendsms</frontName>
                </args>
            </sendsms>
        </routers>
        <layout>
            <updates>
                <sendsms>
                    <file>sendsms.xml</file>
                </sendsms>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<sendsms>
				<use>admin</use>
				<args>
					<module>EM_SendSMS</module>
					<frontName>sendsms</frontName>
				</args>
			</sendsms>
        </routers>
    </admin>
    <global>
        <models>
            <sendsms>
                <class>EM_SendSMS_Model</class>
                <resourceModel>sendsms_mysql4</resourceModel>
            </sendsms>
            <sendsms_mysql4>
                <class>EM_SendSMS_Model_Mysql4</class>
                <entities>
                    <sendsms>
                        <table>sendsms</table>
                    </sendsms>
                </entities>
            </sendsms_mysql4>
        </models>
        <resources>
            <sendsms_setup>
                <setup>
                    <module>EM_SendSMS</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sendsms_setup>
            <sendsms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sendsms_write>
            <sendsms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sendsms_read>
        </resources>
        <blocks>
            <sendsms>
                <class>EM_SendSMS_Block</class>
            </sendsms>
        </blocks>
        <helpers>
            <sendsms>
                <class>EM_SendSMS_Helper</class>
            </sendsms>
        </helpers>
    </global>
</config>