<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="classyllama_llamacoin" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paysafe Silent</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="mode" translate="label" type="select" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mode</label>
                    <source_model>ClassyLlama\LlamaCoin\Model\Config\Mode</source_model>
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transaction Type</label>
                    <source_model>ClassyLlama\LlamaCoin\Model\Config\Transaction</source_model>
                </field>
                <field id="login" translate="label" type="obscure" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Login ID</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="trans_key" translate="label" type="obscure" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Transaction Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="36" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="37" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_customer" translate="label" type="select" sortOrder="38" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Email Customer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merchant_email" translate="label" type="text" sortOrder="39" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant's Email</label>
                    <validate>validate-email</validate>
                </field>
                <field id="cctypes" translate="label" type="multiselect" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Credit Card Types</label>
                    <source_model>Magento\Payment\Model\Source\Cctype</source_model>
                </field>
                <field id="skip3D" translate="label" type="select" sortOrder="66" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Skip 3D Secure Verification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_interac" translate="label" type="select" sortOrder="67" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Interac?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="68" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="69" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="min_order_total" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Total</label>
                </field>
                <field id="max_order_total" translate="label" type="text" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum Order Total</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="72" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <validate>validate-number</validate>
                </field>
                <field id="profile_edit_enable" translate="label" type="select" sortOrder="73" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Address Editing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="classyllama_profiles" translate="label comment" type="text" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paysafe - Credit Card Profiles</label>
                <field id="active" translate="label" type="select" sortOrder="76" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="profile_key" translate="label" type="text" sortOrder="77" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Profile Key</label>
                </field>
            </group>
            <group id="classyllama_threat_metrix" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Paysafe - Payments - ThreatMetrix</label>
                <field id="active" translate="label" type="select" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="org_id" translate="label" type="text" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Organization Id</label>
                </field>
            </group>
        </section>
    </system>
</config>