<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Rma>
            <version>1.0.25</version>
        </Mirasvit_Rma>
    </modules>
    <global>
        <blocks>
            <rma>
                <class>Mirasvit_Rma_Block</class>
            </rma>
        </blocks>
        <models>
            <rma>
                <class>Mirasvit_Rma_Model</class>
                <resourceModel>rma_resource</resourceModel>
            </rma>
            <rma_resource>
                <class>Mirasvit_Rma_Model_Resource</class>
                <entities>
                    <rma>
                        <table>m_rma_rma</table>
                    </rma>
                    <rma_store>
                        <table>m_rma_rma_store</table>
                    </rma_store>
                    <item>
                        <table>m_rma_item</table>
                    </item>
                    <reason>
                        <table>m_rma_reason</table>
                    </reason>
                    <status>
                        <table>m_rma_status</table>
                    </status>
                    <resolution>
                        <table>m_rma_resolution</table>
                    </resolution>
                    <condition>
                        <table>m_rma_condition</table>
                    </condition>
                    <comment>
                        <table>m_rma_comment</table>
                    </comment>
                    <field>
                        <table>m_rma_field</table>
                    </field>
                    <template>
                        <table>m_rma_template</table>
                    </template>
                    <template_store>
                        <table>m_rma_template_store</table>
                    </template_store>
                    <rule>
                        <table>m_rma_rule</table>
                    </rule>
                    <rma_order>
                        <table>m_rma_rma_order</table>
                    </rma_order>
                    <offline_order>
                        <table>m_rma_offline_order</table>
                    </offline_order>
                    <offline_item>
                        <table>m_rma_offline_item</table>
                    </offline_item>
                    <rma_creditmemo>
                        <table>m_rma_rma_creditmemo</table>
                    </rma_creditmemo>
                    <fedex_label>
                        <table>m_rma_fedex_label</table>
                    </fedex_label>
                    <attachment>
                        <table>m_rma_attachment</table>
                    </attachment>
                    <return_address>
                        <table>m_rma_return_address</table>
                    </return_address>
                </entities>
            </rma_resource>
        </models>
        <helpers>
            <rma>
                <class>Mirasvit_Rma_Helper</class>
            </rma>
        </helpers>
        <resources>
            <mst_rma_setup>
                <setup>
                    <module>Mirasvit_Rma</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_rma_setup>
        </resources>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <m_rma_observer>
                        <type>singleton</type>
                        <class>rma/observer</class>
                        <method>afterOutput</method>
                    </m_rma_observer>
                </observers>
            </core_block_abstract_to_html_after>
            <helpdesk_process_email>
                <observers>
                    <m_rma_observer>
                        <type>singleton</type>
                        <class>rma/observer</class>
                        <method>onHelpdeskProcessEmail</method>
                    </m_rma_observer>
                </observers>
            </helpdesk_process_email>
            <create_order_session_quote_initialized>
                <observers>
                    <m_rma_observer>
                        <class>rma/observer</class>
                        <method>onCreateOrderSessionQuoteInitialized</method>
                    </m_rma_observer>
                </observers>
            </create_order_session_quote_initialized>
            <checkout_submit_all_after>
                <observers>
                    <m_rma_observer>
                        <class>rma/observer</class>
                        <method>onCheckoutSubmitAllAfter</method>
                    </m_rma_observer>
                </observers>
            </checkout_submit_all_after>
            <adminhtml_sales_order_creditmemo_register_before>
                <observers>
                    <m_rma_observer>
                        <class>rma/observer</class>
                        <method>onSalesOrderCreditmemoRegisterBefore</method>
                    </m_rma_observer>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>
            <sales_order_creditmemo_save_after>
                <observers>
                    <m_rma_observer>
                        <class>rma/observer</class>
                        <method>onSalesOrderCreditmemoSaveAfter</method>
                    </m_rma_observer>
                </observers>
            </sales_order_creditmemo_save_after>
            <customer_login>
                <observers>
                    <m_rma_observer>
                        <class>rma/observer</class>
                        <method>onCustomerLoginAfter</method>
                    </m_rma_observer>
                </observers>
            </customer_login>
            <mst_rma_changed>
                <observers>
                    <m_rma_observer>
                        <class>rma/observer_rmaChange</class>
                        <method>onRmaChange</method>
                    </m_rma_observer>
                </observers>
            </mst_rma_changed>
        </events>
        <template>
            <email>
               <rma_notification_customer_email_template translate="label" module="rma">
                   <label>RMA - Notification Email for Customer</label>
                   <file>mst_rma/notification_customer_email_template.html</file>
                   <type>html</type>
               </rma_notification_customer_email_template>
               <rma_notification_admin_email_template translate="label" module="rma">
                   <label>RMA - Notification Email for RMA Owner</label>
                   <file>mst_rma/notification_admin_email_template.html</file>
                   <type>html</type>
               </rma_notification_admin_email_template>
               <rma_notification_rule_template translate="label" module="rma">
                   <label>RMA - Template of Rule Notifications</label>
                   <file>mst_rma/notification_rule_template.html</file>
                   <type>html</type>
               </rma_notification_rule_template>
            </email>
        </template>
    </global>
    <frontend>
        <secure_url>
            <mst_rma>/returns/</mst_rma>
        </secure_url>
        <layout>
            <updates>
                <rma>
                    <file>mst_rma.xml</file>
                </rma>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_Rma>
                    <files>
                        <default>Mirasvit_Rma.csv</default>
                    </files>
                </Mirasvit_Rma>
            </modules>
        </translate>
        <routers>
            <rma>
                <use>standard</use>
                <args>
                    <module>Mirasvit_Rma</module>
                    <frontName>returns</frontName>
                </args>
            </rma>
        </routers>
        <events>
            <customer_save_commit_after>
                <observers>
                    <rma_rma>
                        <type>singleton</type>
                        <class>rma/observer</class>
                        <method>onCustomerSaveCommitAfter</method>
                    </rma_rma>
                </observers>
            </customer_save_commit_after>
            <controller_action_predispatch>
                <observers>
                    <rma_rma>
                        <type>singleton</type>
                        <class>rma/observer</class>
                        <method>onControllerActionPredispatch</method>
                    </rma_rma>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<rmaadmin before="Mage_Adminhtml">Mirasvit_Rma_Adminhtml</rmaadmin>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Rma>
                    <files>
                        <default>Mirasvit_Rma.csv</default>
                    </files>
                </Mirasvit_Rma>
            </modules>
        </translate>
        <layout>
            <updates>
                <rma>
                    <file>mst_rma.xml</file>
                </rma>
            </updates>
        </layout>
        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <rma_rma>
                        <type>singleton</type>
                        <class>rma/observer</class>
                        <method>onCustomerSaveCommitAfter</method>
                    </rma_rma>
                </observers>
            </adminhtml_customer_save_after>
        </events>
    </adminhtml>
    <default>
        <rma>
            <general>
                <default_status>1</default_status>
                <is_require_shipping_confirmation>1</is_require_shipping_confirmation>
                <shipping_confirmation_text>Do you confirm, that you have sent the package to the RMA department?</shipping_confirmation_text>
                <is_gift_active>0</is_gift_active>
                <is_helpdesk_active>0</is_helpdesk_active>
                <file_storage>database</file_storage>
                <rma_grid_columns>increment_id,order_increment_id,customer_name,user_id,last_reply_name,status_id,created_at,updated_at</rma_grid_columns>
                <rma_customer_requirement>reason,condition,resolution</rma_customer_requirement>
                <is_wysiwyg_enabled>0</is_wysiwyg_enabled>
            </general>
            <fedex>
                <fedex_enable>0</fedex_enable>
                <fedex_method>international_economy</fedex_method>
                <fedex_default_weight>1</fedex_default_weight>
                <fedex_description_attr>description</fedex_description_attr>
                <fedex_charges_payor>RECIPIENT</fedex_charges_payor>
                <fedex_smartpost_indicia>PARCEL_SELECT</fedex_smartpost_indicia>
            </fedex>
            <frontend>
                <is_active>1</is_active>
            </frontend>
            <policy>
                <return_period>360</return_period>
                <bundle_one_by_one>1</bundle_one_by_one>
                <is_allow_guest_offline_rma>0</is_allow_guest_offline_rma>
                <is_allow_multiple_order>1</is_allow_multiple_order>
                <allow_replacement_resolutions>exchange</allow_replacement_resolutions>
                <allow_creditmemo_resolutions>refund</allow_creditmemo_resolutions>
                <allow_in_statuses>complete</allow_in_statuses>
            </policy>
            <number>
                <format>[store][counter]</format>
                <counter_start>1</counter_start>
                <counter_step>1</counter_step>
                <counter_length>8</counter_length>
            </number>
            <notification>
                <sender_email>general</sender_email>
                <customer_email_template>rma_notification_customer_email_template</customer_email_template>
                <admin_email_template>rma_notification_admin_email_template</admin_email_template>
                <rule_template>rma_notification_rule_template</rule_template>
            </notification>
        </rma>
    </default>
    <crontab>
        <jobs>
            <mirasvit_rma>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>rma/cron::run</model>
                </run>
            </mirasvit_rma>
        </jobs>
    </crontab>
</config>
