<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <hordermanager translate="label" module="hordermanager">
            <label>Order Manager</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Change period in general</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <day translate="label">
                            <label>Periods edge day</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale_weekdays</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </day>
                        <time translate="label">
                            <label>Periods edge hour</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </time>
                        <newPeriodsBorder translate="label">
                            <label>New Periods Border YYYY-MM-DD</label>
                            <frontend_type>text</frontend_type>
                            <comment>Only dates after this date will be use to create periods.</comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </newPeriodsBorder>
                    </fields>
                </general>
                <periods translate="label">
                    <label>Change period sign</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <firstPeriodSign translate="label">
                            <label>Sign Of First Period</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </firstPeriodSign>
                        <secondPeriodSign translate="label">
                            <label>Sign Of Second Period</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </secondPeriodSign>
                    </fields>
                </periods>
                <firstPeriod>
                    <label>Change first period</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <beginTime translate="label">
                            <label>First period hour of start</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </beginTime>
                        <beginDay translate="label">
                            <label>First period day of start</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale_weekdays</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </beginDay>
                        <endTime translate="label">
                            <label>First period hour of end</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </endTime>
                        <endDay translate="label">
                            <label>First period day of end</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale_weekdays</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </endDay>
                    </fields>
                </firstPeriod>
                <secondPeriod>
                    <label>Change second period</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <beginTime translate="label">
                            <label>Second period hour of start</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </beginTime>
                        <beginDay translate="label">
                            <label>Second period day of start</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale_weekdays</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </beginDay>
                        <endTime translate="label">
                            <label>Second period hour of end</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </endTime>
                        <endDay translate="label">
                            <label>Second period day of end</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale_weekdays</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </endDay>
                    </fields>
                </secondPeriod>
                <firstShipping>
                    <label>Change first Shipping Day</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <day translate="label">
                            <label>Shipping day</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale_weekdays</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </day>
                    </fields>
                </firstShipping>
                <secondShipping>
                    <label>Change second Shipping Day</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <day translate="label">
                            <label>Shipping day</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_locale_weekdays</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </day>
                    </fields>
                </secondShipping>
                <popUpText>
                    <label>Change Pop Up Window Text</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <firstShippingText translate="label">
                            <label>First Shipping Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </firstShippingText>
                        <secondShippingText translate="label">
                            <label>Second Shipping Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </secondShippingText>
                        <sameDayShippingText translate="label">
                            <label>Same Day Shipping Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sameDayShippingText>
                    </fields>
                </popUpText>
                <testDate>
                    <label>SHIPPING ON TEST - Act as Today Is</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <date translate="label">
                            <label>Date Debugging YYYY-MM-DD</label>
                            <comment>After finishing test this field MUST be empty.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </date>
                        <time translate="label">
                            <label>Time Debugging HH:MM:SS</label>
                            <comment>After finishing test this field MUST be empty.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </time>
                    </fields>
                </testDate>
                <frontEnable>
                    <label>SHIPPING ON Pop-up window</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>90</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Pop-up window is hidden</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                    </fields>
                </frontEnable>
            </groups>
        </hordermanager>
    </sections>
</config>