<?xml version="1.0"?>
<config>
    <modules>
        <Gearup_Findparts>
            <version>1.0.0</version>
        </Gearup_Findparts>
    </modules>
    <global>
        <helpers>
            <findparts>
                <class>Gearup_Findparts_Helper</class>
            </findparts>
        </helpers>
        <models>
            <findparts>
                <class>Gearup_Findparts_Model</class>
            </findparts>
        </models>
        <events>
            <controller_action_predispatch_findparts_index_post>
                <observers>
                    <captcha>
                        <class>findparts/observer</class>
                        <method>checkFindParts</method>
                    </captcha>
                </observers>
            </controller_action_predispatch_findparts_index_post>          
        </events>
    </global>
    <frontend>
        <routers>
            <findparts>
                <use>standard</use>
                <args>
                    <module>Gearup_Findparts</module>
                    <frontName>findparts</frontName>
                </args>
            </findparts>
        </routers>
        <layout>
            <updates>
                <findpart>
                    <file>findparts.xml</file>
                </findpart>
            </updates>
        </layout>
    </frontend>
    <default>
        <findparts>            
            <captcha>
                <type>recaptcha</type>
                <theme>clean</theme>
                <language>en</language>
                <mode>always</mode>
            </captcha>                    
        </findparts>
        <captcha translate="label">
            <frontend>
                <areas>
                    <user_findparts>
                        <label>Find Parts</label>
                    </user_findparts>                       
                </areas>
            </frontend>
        </captcha>
    </default>
</config>
