<?xml version="1.0"?>
<config>
    <modules>
        <Justselling_Assetminify>
            <version>1.0.1</version>
        </Justselling_Assetminify>
    </modules>
    <global>
        <models>
            <assetminify>
                <class>Justselling_Assetminify_Model</class>
            </assetminify>
        </models>
        <helpers>
            <assetminify>
                <class>Justselling_Assetminify_Helper</class>
            </assetminify>
        </helpers>
        <blocks>
            <assetminify>
                <class>Justselling_Assetminify_Block</class>
            </assetminify>
            <page>
                <rewrite>
                    <html_head>Justselling_Assetminify_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
            <adminhtml>
                <rewrite>
                    <page_head>Justselling_Assetminify_Block_Adminhtml_Page_Head</page_head>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <assetminify_setup>
                <setup>
                    <module>Justselling_Assetminify</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </assetminify_setup>
            <assetminify_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </assetminify_write>
            <assetminify_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </assetminify_read>
        </resources>
    </global>
    <default>
        <assetminify>
            <settings>
                <enabled>0</enabled>
                <bootstrap>0</bootstrap>
            </settings>
        </assetminify>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Justselling_Assetminify />
            </modules>
        </suite>
    </phpunit>
</config>
