<?xml version="1.0"?>
<config>
    <modules>
        <Gearup_OrderManager>
            <version>1.0</version>
        </Gearup_OrderManager>
    </modules>
    <global>
        <helpers>
            <gearup_ordermanager>
                <class>Gearup_OrderManager_Helper</class>
            </gearup_ordermanager>
        </helpers>
        <models>
            <hordermanager>
                <rewrite>
                    <period>Gearup_OrderManager_Model_Period</period>
                </rewrite>
            </hordermanager>
        </models>
        <blocks>
           <hordermanager>
               <rewrite>
                   <adminhtml_period_grid>Gearup_OrderManager_Block_Adminhtml_Period_Grid</adminhtml_period_grid>
               </rewrite>
           </hordermanager>
        </blocks>
    </global>
    <frontend>
        <routers>
            <gearup_hordermanager>
                <use>standard</use>
                <args>
                    <module>Gearup_OrderManager</module>
                    <frontName>gearup_hordermanager</frontName>
                </args>
            </gearup_hordermanager>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Gearup_OrderManager before="Mage_Adminhtml">Gearup_OrderManager_Adminhtml</Gearup_OrderManager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>