<?xml version="1.0"?>
<config>
    <modules>
        <Itdelight_DefaultShipping>
            <version>0.1.0</version>
        </Itdelight_DefaultShipping>
    </modules>
    <global>
        <models>
            <itdelight_defaultshipping>
                <class>Itdelight_DefaultShipping_Model</class>
            </itdelight_defaultshipping>
        </models>
        <helpers>
            <itdelight_defaultshipping>
                <class>Itdelight_DefaultShipping_Helper</class>
            </itdelight_defaultshipping>
        </helpers>
    </global>
</config>