<?xml version="1.0"?>
<!--
/**
 * Fsv_CustomerManager
 *
 * @category    Fsv
 * @package     Fsv_CustomerManager
 * @author      Sergey Fedosimov <sfedosimov@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fsv_CustomerManager" setup_version="0.3.1">
        <sequence>
            <module name="Magento_Customer"/>
        </sequence>
    </module>
</config>
