<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Oye_SocialAuth>
            <version>0.1.0</version>
        </Oye_SocialAuth>
    </modules>
    <global>
        <models>
            <oye_socialauth>
                <class>Oye_SocialAuth_Model</class>
            </oye_socialauth>
        </models>
        <blocks>
            <oye_socialauth>
                <class>Oye_SocialAuth_Block</class>
            </oye_socialauth>
        </blocks>
        <helpers>
            <oye_socialauth>
                <class>Oye_SocialAuth_Helper</class>
            </oye_socialauth>
        </helpers>
        <resources>
            <oye_socialauth_setup>
                <setup>
                    <module>Oye_SocialAuth</module>
                    <class>Oye_SocialAuth_Model_Resource_Setup</class>
                </setup>
            </oye_socialauth_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <oye_socialauth>
                <use>standard</use>
                <args>
                    <module>Oye_SocialAuth</module>
                    <frontName>socialauth</frontName>
                </args>
            </oye_socialauth>
        </routers>
        <translate>
            <modules>
                <Oye_SocialAuth>
                     <files>
                        <default>Oye_SocialAuth.csv</default>
                     </files>
                </Oye_SocialAuth>
            </modules>
        </translate>
        <layout>
            <updates>
                <oye_socialauth>
                    <file>oye_socialauth.xml</file>
                </oye_socialauth>
            </updates>
        </layout>
    </frontend>
    <default>
        <customer>
            <oye_socialauth_google>
                <enabled>0</enabled>
            </oye_socialauth_google>
            <oye_socialauth_facebook>
                <enabled>0</enabled>
            </oye_socialauth_facebook>
            <oye_socialauth_twitter>
                <enabled>0</enabled>
            </oye_socialauth_twitter>
        </customer>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <socialauth>
                                            <title>OYE Social Auth</title>
                                        </socialauth>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>