<?xml version="1.0"?>
<config>
    <modules>
        <Gearup_Autoinvoice>
            <version>1.0</version>
        </Gearup_Autoinvoice>
    </modules>

    <global>

        <models>
            <gearup_autoinvoice>
                <class>Gearup_Autoinvoice_Model</class>
                <resourceModel>gearup_autoinvoice_resource</resourceModel>
            </gearup_autoinvoice>
            <gearup_autoinvoice_resource>
                <class>Gearup_Autoinvoice_Model_Resource</class>
                <entities>
                    <history>
                        <table>gearup_invoice_history</table>
                    </history>
                </entities>
            </gearup_autoinvoice_resource>
        </models>
        <blocks>
            <gearup_autoinvoice>
                <class>Gearup_Autoinvoice_Block</class>
            </gearup_autoinvoice>
            <adminhtml>
                <rewrite>
                    <sales_invoice>Gearup_Autoinvoice_Block_Adminhtml_Sales_Invoice</sales_invoice>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <gearup_autoinvoice>
                <class>Gearup_Autoinvoice_Helper</class>
            </gearup_autoinvoice>
        </helpers>

        <events>
            <sales_order_place_after>
                <observers>
                    <auto_invoice_order>
                        <type>singleton</type>
                        <class>Gearup_Autoinvoice_Model_Observer</class>
                        <method>implementOrderStatus</method>
                    </auto_invoice_order>
                </observers>
            </sales_order_place_after>
            <!--<sales_order_shipment_save_after>
                <observers>
                    <auto_invoice_order>
                        <type>singleton</type>
                        <class>Gearup_Autoinvoice_Model_Observer</class>
                        <method>changeShipimentStatus</method>
                    </auto_invoice_order>
                </observers>
            </sales_order_shipment_save_after>-->
            <sales_order_save_after>
                <observers>
                    <auto_invoice_order>
                        <type>singleton</type>
                        <class>Gearup_Autoinvoice_Model_Observer</class>
                        <method>changeInvoiceStatus</method>
                    </auto_invoice_order>
                </observers>
            </sales_order_save_after>
        </events>

    </global>
    <adminhtml>
        <layout>
            <updates>
                <gearup_autoinvoice>
                    <file>gearup_autoinvoice.xml</file>
                </gearup_autoinvoice>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Gearup_Autoinvoice before="Mage_Adminhtml">Gearup_Autoinvoice_Adminhtml</Gearup_Autoinvoice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <gearup_autoinvoice>
                <use>standard</use>
                <args>
                    <module>Gearup_Autoinvoice</module>
                    <frontName>autoinvoice</frontName>
                </args>
            </gearup_autoinvoice>
        </routers>
    </frontend>
</config>