<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payengine3cw>
			<information>
				<version>1.0.151</version>
			</information>
			<shop>
				<alias_management>0</alias_management>
				<await_notification>1</await_notification>
				<external_checkout_account_creation>force_selection</external_checkout_account_creation>
			</shop>
			<logging>
				<level>error</level>
			</logging>
			<general>
				<operating_mode><![CDATA[test]]></operating_mode>
				<merchant_id_live/>
				<merchant_password_live/>
				<merchant_id_test/>
				<merchant_password_test/>
				<order_schema><![CDATA[{id}]]></order_schema>
			</general>
		</payengine3cw>
		<payment>
			<payengine3cw_creditcard>
				<active>0</active>
				<model>Customweb\PayEngine3Cw\Model\Payment\Method\CreditCard</model>
				<payment_action>initialize</payment_action>
				<group>payengine3cw</group>
				<title><![CDATA[Credit Card]]></title>
				<description><![CDATA[Pay with Credit Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<iframe_height><![CDATA[15]]></iframe_height>
				<device_id><![CDATA[inactive]]></device_id>
				<device_id_minimum><![CDATA[0]]></device_id_minimum>
				<element_style><![CDATA[inline]]></element_style>
				<authorizationMethod><![CDATA[AjaxAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</payengine3cw_creditcard><payengine3cw_paypal>
				<active>0</active>
				<model>Customweb\PayEngine3Cw\Model\Payment\Method\PayPal</model>
				<payment_action>initialize</payment_action>
				<group>payengine3cw</group>
				<title><![CDATA[PayPal]]></title>
				<description><![CDATA[Pay with PayPal]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<device_id><![CDATA[inactive]]></device_id>
				<device_id_minimum><![CDATA[0]]></device_id_minimum>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</payengine3cw_paypal><payengine3cw_paydirekt>
				<active>0</active>
				<model>Customweb\PayEngine3Cw\Model\Payment\Method\Paydirekt</model>
				<payment_action>initialize</payment_action>
				<group>payengine3cw</group>
				<title><![CDATA[paydirekt]]></title>
				<description><![CDATA[Pay with paydirekt]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<device_id><![CDATA[inactive]]></device_id>
				<device_id_minimum><![CDATA[0]]></device_id_minimum>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</payengine3cw_paydirekt><payengine3cw_ratepayopeninvoice>
				<active>0</active>
				<model>Customweb\PayEngine3Cw\Model\Payment\Method\RatePayOpenInvoice</model>
				<payment_action>initialize</payment_action>
				<group>payengine3cw</group>
				<title><![CDATA[RatePay Open Invoice]]></title>
				<description><![CDATA[Pay with RatePay Open Invoice]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<device_id><![CDATA[inactive]]></device_id>
				<device_id_minimum><![CDATA[0]]></device_id_minimum>
				<capturing><![CDATA[deferred]]></capturing>
				<address_equal><![CDATA[equal]]></address_equal>
				<authorizationMethod><![CDATA[ServerAuthorization]]></authorizationMethod>
			</payengine3cw_ratepayopeninvoice><payengine3cw_ratepaydirectdebits>
				<active>0</active>
				<model>Customweb\PayEngine3Cw\Model\Payment\Method\RatePayDirectDebits</model>
				<payment_action>initialize</payment_action>
				<group>payengine3cw</group>
				<title><![CDATA[RatePay Direct Debits]]></title>
				<description><![CDATA[Pay with RatePay Direct Debits]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[deferred]]></capturing>
				<address_equal><![CDATA[equal]]></address_equal>
				<device_id><![CDATA[inactive]]></device_id>
				<device_id_minimum><![CDATA[0]]></device_id_minimum>
				<authorizationMethod><![CDATA[ServerAuthorization]]></authorizationMethod>
			</payengine3cw_ratepaydirectdebits><payengine3cw_ratepayinstallments>
				<active>0</active>
				<model>Customweb\PayEngine3Cw\Model\Payment\Method\RatePayInstallments</model>
				<payment_action>initialize</payment_action>
				<group>payengine3cw</group>
				<title><![CDATA[RatePay Installments]]></title>
				<description><![CDATA[Pay with RatePay Installments]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<authorizationMethod><![CDATA[ServerAuthorization]]></authorizationMethod>
			</payengine3cw_ratepayinstallments><payengine3cw_sofortueberweisung>
				<active>0</active>
				<model>Customweb\PayEngine3Cw\Model\Payment\Method\Sofortueberweisung</model>
				<payment_action>initialize</payment_action>
				<group>payengine3cw</group>
				<title><![CDATA[Sofortüberweisung]]></title>
				<description><![CDATA[Pay with Sofortüberweisung]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<device_id><![CDATA[inactive]]></device_id>
				<device_id_minimum><![CDATA[0]]></device_id_minimum>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
			</payengine3cw_sofortueberweisung>
		</payment>
	</default>
</config>