<?xml version="1.0" ?>
<config>
    <modules>
        <Admitad_Tracking>
            <version>1.0.0</version>
        </Admitad_Tracking>
    </modules>
    <global>
        <models>
            <tracking>
                <class>Admitad_Tracking_Model</class>
            </tracking>
        </models>
        <helpers>
            <tracking>
                <class>Admitad_Tracking_Helper</class>
            </tracking>
        </helpers>
        <blocks>
            <tracking>
                <class>Admitad_Tracking_Block</class>
            </tracking>
        </blocks>
        <resources>
            <tracking_setup>
                <setup>
                    <module>Admitad_Tracking</module>
                </setup>
            </tracking_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <cookie>
                        <class>tracking/observer</class>
                        <method>controller_front_send_response_before</method>
                        <type>model</type>
                    </cookie>
                </observers>
            </controller_front_send_response_before>
            <sales_order_place_after>
                <observers>
                    <order>
                        <class>tracking/observer</class>
                        <method>sales_order_place_after</method>
                        <type>model</type>
                    </order>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tracking after="Mage_Adminhtml">Admitad_Tracking_Adminhtml</tracking>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tracking translate="title" module="tracking">
                                            <title>Tracking</title>
                                            <sort_order>20</sort_order>
                                        </tracking>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <system>
                <children>
                    <tracking translate="title" module="tracking">
                        <title>Admitad Tracking</title>
                        <action>adminhtml/admitad_settings</action> <!-- На какой контроллер ведет этот пункт меню, index в этом случае я опустил -->
                        <sort_order>1</sort_order>
                    </tracking>
                </children>
            </system>
        </menu>
    </adminhtml>
</config>