<?xml version="1.0"?>
<config>
    <modules>
        <Gearup_Activity>
            <version>1.0.3</version>
        </Gearup_Activity>
    </modules>

    <global>
        <resources>
            <gearup_activity_setup>
                <setup>
                    <module>Gearup_Activity</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </setup>
            </gearup_activity_setup>
            <gearup_activity_setup_write>
              <connection>
                <use>core_write</use>
              </connection>
            </gearup_activity_setup_write>
            <gearup_activity_setup_read>
              <connection>
                <use>core_read</use>
              </connection>
            </gearup_activity_setup_read>
        </resources>
        <helpers>
            <gearup_activity>
                <class>Gearup_Activity_Helper</class>
            </gearup_activity>
        </helpers>
        <models>
            <gearup_activity>
                <class>Gearup_Activity_Model</class>
                <resourceModel>gearup_activity_resource</resourceModel>
            </gearup_activity>
            <gearup_activity_resource>
                <class>Gearup_Activity_Model_Resource</class>
                <entities>
                    <expire>
                        <table>wicrew_activity_expire</table>
                    </expire>
                    <record>
                        <table>wicrew_activity_record</table>
                    </record>
                    <random>
                        <table>wicrew_activity_category_random</table>
                    </random>
                </entities>
            </gearup_activity_resource>
       </models>      
    </global>
    <frontend>
        <routers>
            <gearup_activity>
                <use>standard</use>
                <args>
                    <module>Gearup_Activity</module>
                    <frontName>gactivity</frontName>
                </args>
            </gearup_activity>
        </routers>
    </frontend>
<!--    <crontab>
        <jobs>
            <gearup_activity_checkactivity>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>gearup_activity/cron::checkActivity</model>
                </run>
            </gearup_activity_checkactivity>
        </jobs>
    </crontab>-->
</config>