<config>
    <modules>
        <MindMagnet_AddonPopup>
            <version>1.0.2</version>
        </MindMagnet_AddonPopup>
    </modules>
    <global>
        <blocks>
            <mindmagnetaddonpopup>
                <class>MindMagnet_AddonPopup_Block</class>
            </mindmagnetaddonpopup>
        </blocks>
        <models>
            <mindmagnetaddonpopup>
                <class>MindMagnet_AddonPopup_Model</class>
            </mindmagnetaddonpopup>
        </models>
        <helpers>
            <mindmagnetaddonpopup>
                <class>MindMagnet_AddonPopup_Helper</class>
            </mindmagnetaddonpopup>
        </helpers>
        <resources>
            <mindmagnetaddonpopup_setup>
                <setup>
                    <module>MindMagnet_AddonPopup</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mindmagnetaddonpopup_setup>
            <mindmagnetaddonpopup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mindmagnetaddonpopup_write>
            <mindmagnetaddonpopup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mindmagnetaddonpopup_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <addonPopup>
                <use>standard</use>
                <args>
                    <module>MindMagnet_AddonPopup</module>
                    <frontName>addonPopup</frontName>
                </args>
            </addonPopup>
        </routers>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <mm_addon_popup_model_observer>
                        <type>singleton</type>
                        <class>MindMagnet_AddonPopup_Model_Observer</class>
                        <method>onCheckoutCartProductAddAfterRedirect</method>
                    </mm_addon_popup_model_observer>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </frontend>
</config>