<?xml version="1.0"?>
<config>
  <modules>
    <Ims_Comment>
      <version>0.1.0</version>
    </Ims_Comment>
  </modules>
  <frontend>
    <routers>
      <comment>
        <use>standard</use>
          <args>
            <module>Ims_Comment</module>
            <frontName>comment</frontName>
          </args>
      </comment>
    </routers>
  </frontend>
  <global>
    <!--<rewrite>        
            <ims_comment_adminhtml_sales_ordercontroller>
                <from><![CDATA[#^/gearupme_admin/sales_order/#]]></from> 
                <to>/comment/adminhtml_sales_order/</to> 
            </ims_comment_adminhtml_sales_ordercontroller>
    </rewrite>-->
    <helpers>
      <comment>
        <class>Ims_Comment_Helper</class>
      </comment>
    </helpers>
  </global>
  <admin>
  <routers>
    <adminhtml>
      <args>
        <modules>
          <ims_comment before="Mage_Adminhtml">Ims_Comment_Adminhtml</ims_comment>
        </modules>
      </args>
    </adminhtml>
    <comment>
      <use>admin</use>
    <args>
      <module>Ims_Comment</module>
      <frontName>comment</frontName>
    </args>
    </comment>
  </routers>
  </admin>
</config> 