<?xml version="1.0"?>
<config>
	<modules>
		<ClubnetSEM_DisableShippingAddress>
			<version>0.1.0</version>
		</ClubnetSEM_DisableShippingAddress>
	</modules>
	<frontend>
		<routers>
			<disableshippingaddress>
				<use>standard</use>
				<args>
					<module>ClubnetSEM_DisableShippingAddress</module>
					<frontName>disableshippingaddress</frontName>
				</args>
			</disableshippingaddress>
		</routers>
		<layout>
			<updates>
				<disableshippingaddress>
					<file>disableshippingaddress.xml</file>
				</disableshippingaddress>
			</updates>
		</layout>	
	</frontend>	   
	<global>	
		<blocks>
			<disableshippingaddress>
				<class>ClubnetSEM_DisableShippingAddress_Block</class>
			</disableshippingaddress>
			<checkout>
				<rewrite>
					<onepage>ClubnetSEM_DisableShippingAddress_Block_Checkout_Onepage</onepage>
				</rewrite>
			</checkout>
		</blocks>
		<helpers>
			<disableshippingaddress>
				<class>ClubnetSEM_DisableShippingAddress_Helper</class>
			</disableshippingaddress>
		</helpers>
		<rewrite>
			<clubnetsem_disableshippingaddress_checkout_onepage>
				<from><![CDATA[#^/checkout/onepage/#]]></from>
				<to>/disableshippingaddress/checkout_onepage/</to>
			</clubnetsem_disableshippingaddress_checkout_onepage>
		</rewrite>
	</global>
</config>