<config>
    <modules>
        <MindMagnet_Attributes>
            <version>1.0.21</version>
        </MindMagnet_Attributes>
    </modules>
    <global>
        <models>
            <mindmagnetattributes>
                <class>MindMagnet_Attributes_Model</class>
            </mindmagnetattributes>
        </models>
        <helpers>
            <mindmagnetattributes>
                <class>MindMagnet_Attributes_Model</class>
            </mindmagnetattributes>
        </helpers>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_attributes>MindMagnet_Attributes_Block_Product_View_Attributes</product_view_attributes>
                    <product_list_upsell>MindMagnet_Attributes_Block_Product_List_Upsell</product_list_upsell>
                    <product_list_related>MindMagnet_Attributes_Block_Product_List_Related</product_list_related>
                </rewrite>
            </catalog>
        </blocks>
        <resources>
            <mindmagnetattributes_setup>
                <setup>
                    <module>MindMagnet_Attributes</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mindmagnetattributes_setup>
            <mindmagnetattributes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mindmagnetattributes_write>
            <mindmagnetattributes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mindmagnetattributes_read>
        </resources>
    </global>
</config>