<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Beeketing_SalesPop::index" title="Sales Pop" module="Beeketing_SalesPop"
             sortOrder="100" action="salespop/index" resource="Beeketing_SalesPop::index"
             parent="Magento_Backend::stores_settings"/>
    </menu>
</config>