<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="twilio" translate="label" sortOrder="180">
            <label>Twilio</label>
        </tab>
        <section id="twiliosms" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Twilio Sms</label>
            <tab>twilio</tab>
            <resource>Ktpl_Twiliosms::config_twilio</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="status" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="account_id" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Account Id</label>
                </field>
                
                <field id="auth_token" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Auth Token</label>
                </field>
                
                <field id="from_no" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>From Number</label>
                </field>

                <field id="order_sms" translate="label comment" type="text" sortOrder="31" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Sms</label>
                </field>

                <field id="order_complete_sms" translate="label comment" type="text" sortOrder="32" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Complete Sms</label>
                </field>
                
            </group>
        </section>
    </system>
</config>
