<?xml version="1.0"?>
<config>
    <modules>
        <Collinsharper_Beanstreaminterac>
            <version>0.7.4</version>
        </Collinsharper_Beanstreaminterac>
    </modules>
    <global>
        <models>
            <beanstreaminterac>
                <class>Collinsharper_Beanstreaminterac_Model</class>
            </beanstreaminterac>
        </models>
		<helpers>
            <beanstreaminterac>
                <class>Collinsharper_Beanstreaminterac_Helper</class>
            </beanstreaminterac>
        </helpers>
        <resources>
            <beanstreaminterac_setup>
                <setup>
                    <module>Collinsharper_Beanstreaminterac</module>
                    <class>Collinsharper_Beanstreaminterac_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </beanstreaminterac_setup>
            <beanstreaminterac_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </beanstreaminterac_write>
            <beanstreaminterac_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </beanstreaminterac_read>
        </resources>
        <blocks>
            <beanstreaminterac><class>Collinsharper_Beanstreaminterac_Block</class></beanstreaminterac>
        </blocks>
		<sales>
			<order>
				<statuses>
					<pending_beanstreaminterac translate="label"><label>Pending Beanstream Interac Payment</label></pending_beanstreaminterac>
				</statuses>
				<states>
					<pending_beanstreaminterac_payment translate="label">
						<label>Pending Beanstreaminterac Payment</label>
						<statuses>
							<pending_beanstreaminterac/>
						</statuses>
					</pending_beanstreaminterac_payment>
				</states>
			</order>
		</sales>
    </global>
    <frontend>
        <secure_url>
            <beanstreaminterac_standard>/interac/standard</beanstreaminterac_standard>
        </secure_url>
        <routers>
            <beanstreaminterac>
                <use>standard</use>
                <args>
                    <module>Collinsharper_Beanstreaminterac</module>
                    <frontName>interac</frontName>
                </args>
            </beanstreaminterac>
        </routers>
        <translate>
            <modules>
                <Collinsharper_Beanstreaminterac>
                    <files>
                        <default>Collinsharper_Beanstreaminterac.csv</default>
                    </files>
                </Collinsharper_Beanstreaminterac>
            </modules>
        </translate>

    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Collinsharper_Beanstreaminterac>
                    <files>
                        <default>Collinsharper_Beanstreaminterac.csv</default>
                    </files>
                </Collinsharper_Beanstreaminterac>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
          <beanstreaminterac> 
                  <model>beanstreaminterac/standard</model>
                  <title>Beanstream Interac</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
                  <debug>0</debug>
                  <order_status>pending_payment</order_status>
            </beanstreaminterac>
        </payment>
    </default>
</config>