<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        
        <section id="ktpl_mentis_section" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Mentis configuration</label>
            <tab>ktpl_general</tab>
            <resource>Ktpl_Mentis::ktpl_mentis_config</resource>
            <group id="mentis" translate="label"  sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mentis Configuration</label>
                <field id="code" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mentis Advertiser Code</label>
                </field>
                
            </group>
        </section>
        
    </system>
</config>
