<?xml version="1.0"?>
<config>
    <modules>
        <EM_Link>
            <version>0.1.0</version>
        </EM_Link>
    </modules>
    <frontend>
        <routers>
            <link>
                <use>standard</use>
                <args>
                    <module>EM_Link</module>
                    <frontName>link</frontName>
                </args>
            </link>
        </routers>
        <layout>
            <updates>
                <link>
                    <file>link.xml</file>
                </link>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<link>
				<use>admin</use>
				<args>
					<module>EM_Link</module>
					<frontName>link</frontName>
				</args>
			</link>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<link module="link">
				<title>Link</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="link">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>link/adminhtml_link</action>
					</items>
				</children>
			</link>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<EM_Link>
							<title>Link Module</title>
							<sort_order>10</sort_order>
						</EM_Link>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<link>
					<file>link.xml</file>
				</link>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <link>
                <class>EM_Link_Model</class>
                <resourceModel>link_mysql4</resourceModel>
            </link>
            <link_mysql4>
                <class>EM_Link_Model_Mysql4</class>
                <entities>
                    <link>
                        <table>link</table>
                    </link>
                </entities>
            </link_mysql4>
        </models>
        <resources>
            <link_setup>
                <setup>
                    <module>EM_Link</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </link_setup>
            <link_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </link_write>
            <link_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </link_read>
        </resources>
        <blocks>
            <link>
                <class>EM_Link_Block</class>
            </link>
        </blocks>
        <helpers>
            <link>
                <class>EM_Link_Helper</class>
            </link>
        </helpers>
		<template>
            <email>
                <link_email_email_template module="EM_Link">
                    <label>App for mobile</label>
                    <file>link_email.html</file>
                    <type>html</type>
                </link_email_email_template>
            </email>
        </template>
    </global>
</config>