<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Helpdesk>
            <version>1.0.36</version>
        </Mirasvit_Helpdesk>
    </modules>
    <global>
        <blocks>
            <helpdesk>
                <class>Mirasvit_Helpdesk_Block</class>
            </helpdesk>
        </blocks>
        <models>
            <helpdesk>
                <class>Mirasvit_Helpdesk_Model</class>
                <resourceModel>helpdesk_resource</resourceModel>
            </helpdesk>
            <helpdesk_resource>
                <class>Mirasvit_Helpdesk_Model_Resource</class>
                <entities>
                    <status>
                        <table>m_helpdesk_status</table>
                    </status>
                    <priority>
                        <table>m_helpdesk_priority</table>
                    </priority>
                    <department>
                        <table>m_helpdesk_department</table>
                    </department>
                    <department_user>
                        <table>m_helpdesk_department_user</table>
                    </department_user>
                    <email>
                        <table>m_helpdesk_email</table>
                    </email>
                    <third_party_email>
                        <table>m_helpdesk_third_party_email</table>
                    </third_party_email>
                    <third_party_email_store>
                        <table>m_helpdesk_third_party_email_store</table>
                    </third_party_email_store>
                    <third_party_email_department>
                        <table>m_helpdesk_third_party_email_deparment</table>
                    </third_party_email_department>
                    <ticket>
                        <table>m_helpdesk_ticket</table>
                    </ticket>
                    <message>
                        <table>m_helpdesk_message</table>
                    </message>
                    <attachment>
                        <table>m_helpdesk_attachment</table>
                    </attachment>
                    <gateway>
                        <table>m_helpdesk_gateway</table>
                    </gateway>
                    <pattern>
                        <table>m_helpdesk_pattern</table>
                    </pattern>
                    <template>
                        <table>m_helpdesk_template</table>
                    </template>
                    <field>
                        <table>m_helpdesk_field</table>
                    </field>
                    <satisfaction>
                        <table>m_helpdesk_satisfaction</table>
                    </satisfaction>

                    <ticket_aggregated>
                        <table>m_helpdesk_ticket_aggregated</table>
                    </ticket_aggregated>
                    <ticket_aggregated_hour>
                        <table>m_helpdesk_ticket_aggregated_hour</table>
                    </ticket_aggregated_hour>
                    <ticket_aggregated_day>
                        <table>m_helpdesk_ticket_aggregated_day</table>
                    </ticket_aggregated_day>
                    <ticket_aggregated_month>
                        <table>m_helpdesk_ticket_aggregated_month</table>
                    </ticket_aggregated_month>

                    <rule>
                        <table>m_helpdesk_rule</table>
                    </rule>
                    <tag>
                        <table>m_helpdesk_tag</table>
                    </tag>
                    <ticket_tag>
                        <table>m_helpdesk_ticket_tag</table>
                    </ticket_tag>
                    <permission>
                        <table>m_helpdesk_permission</table>
                    </permission>
                    <permission_department>
                        <table>m_helpdesk_permission_department</table>
                    </permission_department>
                    <template_store>
                        <table>m_helpdesk_template_store</table>
                    </template_store>
                    <field_store>
                        <table>m_helpdesk_field_store</table>
                    </field_store>
                    <history>
                        <table>m_helpdesk_history</table>
                    </history>
                    <draft>
                        <table>m_helpdesk_draft</table>
                    </draft>
                    <user>
                        <table>m_helpdesk_user</table>
                    </user>
                    <priority_store>
                        <table>m_helpdesk_priority_store</table>
                    </priority_store>
                    <status_store>
                        <table>m_helpdesk_status_store</table>
                    </status_store>
                    <department_store>
                        <table>m_helpdesk_department_store</table>
                    </department_store>
                    <desktopNotification>
                        <table>m_helpdesk_desktop_notification</table>
                    </desktopNotification>
                    <customer>
                        <table>m_helpdesk_customer</table>
                    </customer>
                </entities>
            </helpdesk_resource>
        </models>
        <helpers>
            <helpdesk>
                <class>Mirasvit_Helpdesk_Helper</class>
            </helpdesk>
        </helpers>
        <resources>
            <mst_helpdesk_setup>
                <setup>
                    <module>Mirasvit_Helpdesk</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_helpdesk_setup>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <m_helpdesk_observer>
                        <type>singleton</type>
                        <class>helpdesk/observer_checkSessionLifetime</class>
                        <method>execute</method>
                    </m_helpdesk_observer>
                </observers>
            </controller_action_predispatch>
            <adminhtml_block_html_before>
                <observers>
                    <m_helpdesk_observer>
                        <type>singleton</type>
                        <class>helpdesk/observer</class>
                        <method>checkCronStatus</method>
                    </m_helpdesk_observer>
                </observers>
            </adminhtml_block_html_before>
            <admin_user_load_after>
                <observers>
                    <m_helpdesk_observer>
                        <type>singleton</type>
                        <class>helpdesk/observer</class>
                        <method>onUserLoadAfter</method>
                    </m_helpdesk_observer>
                </observers>
            </admin_user_load_after>
            <admin_user_save_after>
                <observers>
                    <m_helpdesk_observer>
                        <type>singleton</type>
                        <class>helpdesk/observer</class>
                        <method>onUserSaveAfter</method>
                    </m_helpdesk_observer>
                </observers>
            </admin_user_save_after>
            <model_before_save>

            </model_before_save>
        </events>
        <template>
            <email>
               <helpdesk_notification_new_ticket_template translate="label" module="helpdesk">
                   <label>Helpdesk - Customer - New Ticket</label>
                   <file>mst_helpdesk/notification_new_ticket_template.html</file>
                   <type>html</type>
               </helpdesk_notification_new_ticket_template>
               <helpdesk_notification_staff_new_ticket_template translate="label" module="helpdesk">
                   <label>Helpdesk - Staff - New Ticket</label>
                   <file>mst_helpdesk/notification_staff_new_ticket_template.html</file>
                   <type>html</type>
               </helpdesk_notification_staff_new_ticket_template>
               <helpdesk_notification_new_message_template translate="label" module="helpdesk">
                   <label>Helpdesk - Customer - New Message</label>
                   <file>mst_helpdesk/notification_new_message_template.html</file>
                   <type>html</type>
               </helpdesk_notification_new_message_template>
               <helpdesk_notification_staff_new_message_template translate="label" module="helpdesk">
                   <label>Helpdesk - Staff - New Message</label>
                   <file>mst_helpdesk/notification_staff_new_message_template.html</file>
                   <type>html</type>
               </helpdesk_notification_staff_new_message_template>
               <helpdesk_notification_third_new_message_template translate="label" module="helpdesk">
                   <label>Helpdesk - Third Party - New Message</label>
                   <file>mst_helpdesk/notification_third_new_message_template.html</file>
                   <type>html</type>
               </helpdesk_notification_third_new_message_template>
               <helpdesk_notification_reminder_template translate="label" module="helpdesk">
                   <label>Helpdesk - Staff - Ticket Reminder</label>
                   <file>mst_helpdesk/notification_reminder_template.html</file>
                   <type>html</type>
               </helpdesk_notification_reminder_template>
               <helpdesk_notification_rule_template translate="label" module="helpdesk">
                   <label>Helpdesk - Template of Rule Notifications</label>
                   <file>mst_helpdesk/notification_rule_template.html</file>
                   <type>html</type>
               </helpdesk_notification_rule_template>
               <helpdesk_notification_staff_new_satisfaction_template translate="label" module="helpdesk">
                   <label>Helpdesk - Survey Satisfaction Result</label>
                   <file>mst_helpdesk/notification_staff_new_satisfaction_template.html</file>
                   <type>html</type>
               </helpdesk_notification_staff_new_satisfaction_template>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <helpdesk>
                    <file>mst_helpdesk.xml</file>
                </helpdesk>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_Helpdesk>
                    <files>
                        <default>Mirasvit_Helpdesk.csv</default>
                    </files>
                </Mirasvit_Helpdesk>
            </modules>
        </translate>
        <routers>
            <helpdesk>
                <use>standard</use>
                <args>
                    <module>Mirasvit_Helpdesk</module>
                    <frontName>helpdesk</frontName>
                </args>
            </helpdesk>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <helpdeskadmin before="Mage_Adminhtml">Mirasvit_Helpdesk_Adminhtml</helpdeskadmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <m_helpdesk_observer>
                        <type>singleton</type>
                        <class>helpdesk/observer_desktopNotification</class>
                        <method>afterOutput</method>
                    </m_helpdesk_observer>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <translate>
            <modules>
                <Mirasvit_Helpdesk>
                    <files>
                        <default>Mirasvit_Helpdesk.csv</default>
                    </files>
                </Mirasvit_Helpdesk>
            </modules>
        </translate>
        <layout>
            <updates>
                <helpdesk>
                    <file>mst_helpdesk.xml</file>
                </helpdesk>
            </updates>
            <jstranslate>
                <file>jstranslator.xml</file>
            </jstranslate>
        </layout>
    </adminhtml>
    <default>
        <helpdesk>
            <general>
                <ticket_grid_columns>code,name,last_reply_name,status_id,priority_id,user_id,department_id,customer_name,last_activity</ticket_grid_columns>
                <default_priority>3</default_priority>
                <default_department>1</default_department>
                <default_status>1</default_status>
                <sign_ticket_by>user</sign_ticket_by>
                <contact_us_is_active>1</contact_us_is_active>
                <is_wysiwyg>0</is_wysiwyg>
                <is_default_cron>1</is_default_cron>
                <accept_foreign_tickets>disable</accept_foreign_tickets>
                <attachment_storage>fs</attachment_storage>
                <tickets_autosave_period>10</tickets_autosave_period>
            </general>
            <contact_form>
                <is_active>1</is_active>
                <default_department>1</default_department>
                <color>red</color>
                <title>Contact Us</title>
                <position>left</position>
                <form_title>How can we help you?</form_title>
                <subject_title>Question</subject_title>
                <subject_placeholder>Briefly describe your question</subject_placeholder>
                <description_title>Details</description_title>
                <description_placeholder>Fill in details here</description_placeholder>
                <is_active_attachment>0</is_active_attachment>
                <is_allow_priority>0</is_allow_priority>
                <is_allow_department>0</is_allow_department>
                <is_active_kb>1</is_active_kb>
            </contact_form>
            <notification>
                <is_show_code>0</is_show_code>
                <history_records_number>0</history_records_number>
                <new_ticket_template>helpdesk_notification_new_ticket_template</new_ticket_template>
                <staff_new_ticket_template>helpdesk_notification_staff_new_ticket_template</staff_new_ticket_template>
                <new_message_template>helpdesk_notification_new_message_template</new_message_template>
                <staff_new_message_template>helpdesk_notification_staff_new_message_template</staff_new_message_template>
                <third_new_message_template>helpdesk_notification_third_new_message_template</third_new_message_template>
                <reminder_template>helpdesk_notification_reminder_template</reminder_template>
                <rule_template>helpdesk_notification_rule_template</rule_template>
                <staff_new_satisfaction_template>helpdesk_notification_staff_new_satisfaction_template</staff_new_satisfaction_template>
            </notification>
            <satisfaction>
                <is_active>1</is_active>
                <is_show_results_in_ticket>1</is_show_results_in_ticket>
                <is_send_results_owner>1</is_send_results_owner>
                <is_show_in_ticket_front>1</is_show_in_ticket_front>
            </satisfaction>
            <frontend>
                <is_active>1</is_active>
                <is_allow_priority>1</is_allow_priority>
                <is_allow_department>1</is_allow_department>
                <is_allow_order>1</is_allow_order>
            </frontend>
            <developer>
                <is_active></is_active>
                <sandbox_email></sandbox_email>
            </developer>
            <desktop_notification>
                <check_period>5</check_period>
                <is_notification_allow_message>1</is_notification_allow_message>
                <is_notification_allow_assign>1</is_notification_allow_assign>
                <is_indicator_shown>0</is_indicator_shown>
            </desktop_notification>
        </helpdesk>
    </default>
    <crontab>
        <jobs>
            <mirasvit_helpdesk>
                <schedule>
                    <cron_expr>*/20 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>helpdesk/cron::magentoCronRun</model>
                </run>
            </mirasvit_helpdesk>
            <mirasvit_helpdesk2>
                <schedule>
                    <!-- <cron_expr>* * * * *</cron_expr> -->
                    <cron_expr>10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>helpdesk/cron::magentoCronEveryHourRun</model>
                </run>
            </mirasvit_helpdesk2>
        </jobs>
    </crontab>
</config>
